<!DOCTYPE html>
<html data-page="home" lang="en">
<head>
  <title>TogoVar</title>
  <meta charset="utf-8">
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <%- include('./components/_dataset_schema.html') -%>
</head>
<body>
<%- include('./components/_global_header.html') -%>
<%- include('./components/_search_results_main.html') -%>
<%- include('./components/_karyotype.html') -%>
<%- include('./components/_activity_indicator.html') -%>
<%- include('./components/_configuration.html') -%>
</body>
</html>
