<% provide(:title, 'Dataset') %>
<% provide(:page, 'dataset') %>
<% provide(:active, doc_datasets_path) %>

<main>
  <article class="common-document">
    <header class="header">
      <h2 class="title">TogoVar datasets</h2>
    </header>
    <div class="contents">
      <section class="section">
        <h3 class="sectiontitle">Variant frequencies for which you can apply for use of individual-level data<sup>&lowast;1</sup>
          to the NBDC human databases<sup>&lowast;2</sup></h3>
        <p>Click the links at the Included controlled-access datasets to apply for use of individual-level data</p>
        <table class="table">
          <thead>
          <tr>
            <th>Variant dataset name</th>
            <th>Analysis method</th>
            <th>Target population</th>
            <th>Healthy subjects</th>
            <th>Affected subjects</th>
            <th>Sample size</th>
            <th>Number of variants<br/>(# of sites)</th>
            <th>Included controlled-access datasets</th>
          </tr>
          </thead>
          <tbody>
          <!--
          <tr>
            <td><%= link_to 'BBJ-RIKEN', doc_datasets_jga_snp_path, { target: '_blank' } %></td>
            <td>BBJ-RIKEN</td>
            <td class="_align-left">SNP-Chip</td>
            <td>Japanese</td>
            <td class="_align-center"></td>
            <td class="_align-center">&#x2714;</td>
            <td class="_align-right"></td>
            <td class="_align-right"></td>
            <td class="_align-center"></td>
          </tr>
          -->
          <tr>
            <td><%= link_to 'GEM Japan Whole Genome Aggregation (GEM-J WGA) Panel', doc_datasets_gem_j_wga_path, { target: '_blank' } %></td>
            <td class="_align-left">WGS</td>
            <td>Japanese</td>
            <td class="_align-center">&#x2714;</td>
            <td class="_align-center"></td>
            <td class="_align-center"><span style="margin-left:15px;">7,309</span></td>
            <td class="_align-center">(90,280,248)</td>
            <td class="_align-center"><%= link_to '6 datasets', doc_datasets_gem_j_wga_path(anchor: 'jga_datasets'), { target: '_blank' } %></td>
          </tr>
          <tr>
            <td><%= link_to 'JGA-NGS', doc_datasets_jga_ngs_path, { target: '_blank' } %></td>
            <td class="_align-left">WES</td>
            <td>Japanese</td>
            <td class="_align-center">&#x2714;</td>
            <td class="_align-center">&#x2714;</td>
            <td class="_align-center"><span style="margin-left:20px;">125</span></td>
            <td class="_align-center">4,679,025<br/></td>
            <td class="_align-center"><%= link_to '7 datasets', doc_datasets_jga_ngs_path(anchor: 'jga_datasets'), { target: '_blank' } %></td>
          </tr>
          <tr>
            <td><%= link_to 'JGA-SNP', doc_datasets_jga_snp_path, class: { target: '_blank' } %></td>
            <td class="_align-left">SNP-Chip</td>
            <td>Japanese</td>
            <td class="_align-center">&#x2714;</td>
            <td class="_align-center">&#x2714;</td>
            <td class="_align-center">183,884</td>
            <td class="_align-center">1,249,724</td>
            <td class="_align-center"><%= link_to '3 datasets', doc_datasets_jga_snp_path(anchor: 'jga_datasets'), { target: '_blank' } %></td>
          </tr>
          </tbody>
        </table>
        <p class="notice">
          &lowast;1：fastq/bam/cel files and/or lists of genotype data etc. <br/>
          &lowast;2：<a class="hyper-text -external" target="_blank" href="https://www.ddbj.nig.ac.jp/jga/index.html">Japanese
          Genotype-phenotype Archive (JGA)</a> /
          <a class="hyper-text -external" target="_blank" href="https://www.biobank.amed.go.jp/itc/agd/index.html">AMED
            Genome group sharing Database (AGD)</a>
        </p>
      </section>
      <section class="section">
        <h3 class="sectiontitle">Other variant datasets</h3>
        <table class="table _column-span-all">
          <thead>
          <tr>
            <th>Variant dataset name</th>
            <th>Analysis method</th>
            <th>Target population</th>
            <th>Healthy subjects</th>
            <th>Affected subjects</th>
            <th>Sample size</th>
            <th>Number of variants<br/>(# of sites)</th>
            <th>Author</th>
            <th>Version/Last updated</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <a class="hyper-text -external" target="_blank" href="ftp://ftp.ncbi.nlm.nih.gov/pub/clinvar/xml/clinvar_variation/">ClinVar</a>
            </td>
            <td class="_align-center">-</td>
            <td class="_align-left">Mixed</td>
            <td class="_align-center"></td>
            <td class="_align-center">&#x2714;</td>
            <td class="_align-center">—</td>
            <td class="_align-center"></td>
            <td>NCBI</td>
            <td>2020/06/04</td>
          </tr>
          <tr>
            <td>
              <a target="_blank" href="http://exac.broadinstitute.org/downloads">Exome Aggregation Consortium (ExAC)</a>
            </td>
            <td class="_align-left">WES</td>
            <td class="_align-left">Mixed</td>
            <td class="_align-center">&#x2714;</td>
            <td class="_align-center">&#x2714;</td>
            <td class="_align-center"><span style="margin-left:3px;">60,706</span></td>
            <td class="_align-center">10,195,872<br/>(9,362,319)</td>
            <td>Broad Institute</td>
            <td>Release 1 (2017/02/27)</td>
          </tr>
          <tr>
            <td>
              <a class="hyper-text -external" target="_blank" href="http://www.hgvd.genome.med.kyoto-u.ac.jp/download.html">Human
                Genetic Variation
                Database (HGVD)</a></td>
            <td class="_align-left">WES</td>
            <td class="_align-left">Japanese</td>
            <td class="_align-center">&#x2714;</td>
            <td class="_align-center"></td>
            <td class="_align-center"><span style="margin-left:10px;">1,208</span></td>
            <td class="_align-center">
              <span style="margin-left:10px;">554,461</span><br/><span style="margin-left: 20px;">(501,556)</span></td>
            <td>Kyoto University</td>
            <td>Version 2.30<br/>(2017/08/02)</td>
          </tr>
          <tr>
            <td>
              <a class="hyper-text -external" target="_blank" href="https://jmorp.megabank.tohoku.ac.jp/202001/downloads/#variant">ToMMo
                4.7KJPN Allele Frequency Panel(4.7KJPN)</a></td>
            <td class="_align-left">WGS</td>
            <td class="_align-left">Japanese</td>
            <td class="_align-center">&#x2714;</td>
            <td class="_align-center"></td>
            <td class="_align-center"><span style="margin-left:10px;">4,773</span></td>
            <td class="_align-center">(70,101,710)</td>
            <td>Tohoku Medical Megabank Organization</td>
            <td>v20190826</td>
          </tr>
          <!--
          <tr>
            <td><a target="_blank" href="https://jmorp.megabank.tohoku.ac.jp/201905/downloads">ToMMo 3.5KJPNv2 Allele
              Frequency Panel (3.5KJPN)</a></td>
            <td>v20181105open; Unfiltered</td>
            <td class="text-right">3,552</td>
            <td class="text-center">64,675,495</td>
            <td class="text-right">60,816,012</td>
            <td>Tohoku Medical Megabank Organization</td>
          </tr>
          -->
          </tbody>
        </table>
        <p class="notice">
          Note 1: TogoVar contains ClinVar variants only in
          <a target="_blank" href="ftp://ftp.ncbi.nlm.nih.gov/pub/clinvar/vcf_GRCh37/">the VCF file</a>, GRCh37
          positions of which were determined.<br/>
          Note 2 : 4.7KJPN consists of SNVs (Autosome, chrX(PAR1+PAR2+XTR) and chrMT) and INDELs (Autosome and
          chrX(PAR1+PAR2+XTR)). See
          <a target="_blank" href="https://jmorp.megabank.tohoku.ac.jp/202001/variants/statistics">Summary of ToMMo
            4.7KJPN</a>.
        </p>
      </section>
      <section class="section">
        <h3 class="sectiontitle">
          Non-variant datasets
        </h3>
        <table class="table">
          <thead>
          <tr>
            <th>Dataset name</th>
            <th>Version/Last update</th>
            <th>Description</th>
            <th>Author</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><a target="_blank" href="ftp://ftp.dbcls.jp/colil">Colil</a></td>
            <td>2019/01/25</td>
            <td>Information on citation relationships in life sciences literature</td>
            <td>DBCLS</td>
          </tr>
          <tr>
            <td><a class="hyper-text -external" target="_blank" href="https://www.ncbi.nlm.nih.gov/grc/human/data?asm=GRCh37.p13">GRCh37.p13</a></td>
            <td>2013/06/28</td>
            <td>Human genome reference sequence</td>
            <td>GRC</td>
          </tr>
          <tr>
            <td><a class="hyper-text -external" target="_blank" href="ftp://ftp.ebi.ac.uk/pub/databases/genenames/new/tsv/hgnc_complete_set.txt">HGNC symbol report</a></td>
            <td>2020/03/30</td>
            <td>Approved human gene nomenclature and associated gene information</td>
            <td>HGNC</td>
          </tr>
          <tr>
            <td><a class="hyper-text -external" target="_blank" href="https://www.ncbi.nlm.nih.gov/CBBresearch/Lu/Demo/LitVar/">LitVar</a></td>
            <td>Obtained by API</td>
            <td>Information on papers in which the names of variants appear</td>
            <td>NCBI</td>
          </tr>
          <tr>
            <td><a target="_blank" href="ftp://ftp.ncbi.nlm.nih.gov/pub/lu/PubTatorCentral">PubTatorCentral</a></td>
            <td>2020/05/09</td>
            <td>Information on papers in which the names of variants appear</td>
            <td>NCBI</td>
          </tr>
          <tr>
            <td><a target="_blank" href="http://togogenome.org/">TogoGenome</a></td>
            <td>&dash;</td>
            <td>Comprehensive information on genomes</td>
            <td>DBCLS</td>
          </tr>
          </tbody>
        </table>
      </section>
      <section class="section">
        <h3 class="sectiontitle">Tools for data processing</h3>
        <table class="table">
          <thead>
          <tr>
            <th>Name</th>
            <th>Ver.</th>
            <th>Description</th>
            <th>Author</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><a target="_blank" href="https://samtools.github.io/bcftools/">bcftools</a></td>
            <td></td>
            <td>Normalize indels and split multiallelic sites into biallelic variants</td>
            <td>Genome Research Ltd.</td>
          </tr>
          <tr>
            <td><%= link_to 'BioReT', doc_datasets_analysis_path, class: { target: '_blank' } %></td>
            <td>‐</td>
            <td>Execute programs for variant discovery from NGS data in proper order</td>
            <td><a href="https://amelieff.jp/">Amelieff</a></td>
          </tr>
          <tr>
            <td><a target="_blank" href="https://www.ensembl.org/info/docs/tools/vep/index.html">Variant Effect Predictor (VEP)</a></td>
            <td>Ensembl release 100</td>
            <td>Add <a href="https://www.ensembl.org/info/docs/tools/vep/script/vep_cache.html#cache_content">annotations like gene names or consequences</a> to variants</td>
            <td>EMBL-EBI</td>
          </tr>
          </tbody>
        </table>
      </section>
    </div>
  </article>
</main>
