<% provide(:title, 'Downloads') %>
<% provide(:page, 'downloads') %>
<% provide(:active, downloads_path) %>

<main>
  <article class="common-document">
    <header class="header">
      <h2 class="title">Downloads</h2>
    </header>
    <div class="contents">
      <section class="section">
        <p class="body">TogoVar data are available at the links below. Please see
          <a href="/public/release/current/README.txt">README.txt</a>
          for more information.
        </p>
        <table class="table">
          <caption>Latest release: <%= @latest_release %></caption>
          <thead>
          <tr>
            <th scope="col">Chromosome</th>
            <th scope="col">Variation frequency</th>
            <th scope="col">Molecular annotation</th>
          </tr>
          </thead>
          <tbody>
          <% @list.each do |x| %>
            <tr>
              <th scope="row"><%= x[:chromosome] %></th>
              <td>
                chr <%= x[:chromosome] %> frequency
                [<a href="<%= x[:frequency][:href] %>">.tsv</a>] (<%= x[:frequency][:size] %>)
              </td>
              <td>
                chr <%= x[:chromosome] %> molecular annotation
                [<a href="<%= x[:molecular_annotation][:href] %>">.tsv</a>] (<%= x[:molecular_annotation][:size] %>)
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </section>
    </div>
  </article>
</main>
