- provide(:title, 'Dataset > JGA-SNP')

= content_for :header do
  = stylesheet_link_tag 'static/style', media: :all

%main
  .container
    %h1.title
      JGA-SNP dataset

    %h2
      Summary
    %p
      - humandb = link_to 'NBDC Human Database', 'https://humandbs.biosciencedbc.jp/en/'
      - jga = link_to 'Japanese Genotype-phenotype Archive (JGA)', 'https://www.ddbj.nig.ac.jp/jga/index-e.html'
      JGA-SNP dataset is a frequency dataset that has aggregated variants detected from SNP-chip data in the
      #{humandb}/#{jga}. All JGA data for which an approval for creating secondary data has been obtained are to be
      aggregated. Note that no variants with 5 alternative alleles or less are included.
    %ul
      %li
        Version/Last updated: 06/01/2018
      %li
        Sample size: 183,884
      %li
        \# of detected variants: 1,966,919
      %li
        \# of variants after the exclusion: 1,249,724

    %h2
      Terms of use

    %h3
      Rights of Data Users
    %p
      The rights of data users shall conform to "5-2-1. Open Data" in "5-2. Rights of Data Users" listed in
      = succeed '.' do
        = link_to 'the NBDC Human Data Sharing Guidelines',
          'https://humandbs.biosciencedbc.jp/guidelines/data-sharing-guidelines'

    %ol
      %li
        The data user can freely present the result of the study for which data from the NBDC Human Database are used.
      %li
        The data user can freely acquire intellectual property rights based on the result of the study for which data
        from the NBDC Human Database are used.

    %h3
      Responsibilities of Data Users
    %p
      Responsibilities of data users shall conform to "5-3-1. Open Data" in "5-3. Responsibilities of Data Users"
      listed in the NBDC Human Data Sharing Guidelines.
    %ol
      %li
        In using data, the user must take responsibility for and make judgments concerning the quality, content, and
        scientific validity of the data.
      %li
        The data user must comply with the following rules.
        %ul
          %li
            The use of data is limited to the study being undertaken.
          %li
            Identification of individuals is prohibited
          %li
            Redistribution of data is prohibited.
      %li
        The data user must add the following citation while using the data in public (e.g. publishing an article).
        %p
          - jga = link_to 'JGA', 'https://www.ddbj.nig.ac.jp/jga/index-e.html'
          Variant dataset aggregated from SNP-chip data in #{humandb}/#{jga} [Internet]. Tokyo: Japan Science and
          Technology Agency (Japan), National Bioscience Database Center; [2018] - .
          JGA-SNP dataset; [cited YYYY Mmm DD]. Available from:
          = link_to 'https://togovar.biosciencedbc.jp/doc/datasets/jga_snp', doc_datasets_jga_snp_path

    %h2
      Derivations of aggregated data
    %table.table.table-bordered.table-sm
      %thead
        %tr
          %th JGAID
          %th Human DB ID
          %th Study title
          %th Participants
          %th Sample size
          %th Data provider
      %tbody
        %tr
          %td= link_to 'JGAD00000000123', 'https://ddbj.nig.ac.jp/jga/viewer/view/study/JGAS00000000114/'
          %td= link_to 'hum0014', 'https://humandbs.biosciencedbc.jp/hum0014-v8/'
          %td Biobank Japan Project
          %td BMI research participants
          %td.text-right 182,557
          %td Michiaki Kubo
        %tr
          %td= link_to 'JGAD00000000018', 'https://ddbj.nig.ac.jp/jga/viewer/view/study/JGAS00000000018/'
          %td= link_to 'hum0028', 'https://humandbs.biosciencedbc.jp/hum0028-v1/'
          %td Biobank Japan Project
          %td Healthy control
          %td.text-right 908
          %td Michiaki Kubo
        %tr
          %td= link_to 'JGAD00000000130/131', 'https://ddbj.nig.ac.jp/jga/viewer/view/study/JGAS00000000120/'
          %td= link_to 'hum0082', 'Genome-wide analysis of SNPs in Healthy Japanese'
          %td Genome-wide analysis of SNPs in Healthy Japanese
          %td Healthy control
          %td.text-right 419
          %td Katsushi Tokunaga
      %tfoot
        %tr
          %th.text-center{colspan: '4'} Total
          %td.text-right 183,884
