- provide(:title, 'Terms')
- provide(:active, doc_terms_path)

= content_for :header do
  = stylesheet_pack_tag 'static/common', media: :all

%main
  .container
    %h1.title
      Terms of Use
    %p
      This database (the database) is licensed under the
      = succeed '.' do
        = link_to 'Open Database License(ODbL)', 'http://opendatacommons.org/licenses/odbl/1.0/', target: '_blank'

    %p
      You are free:
      %ul.no-list-style
        %li.mb-4
          %strong To Share:
          To copy, distribute and use the database.
        %li.mb-4
          %strong To Create:
          To produce works from the database.
        %li.mb-4
          %strong To Adapt:
          To modify, transform and build upon the database.
    %p
      As long as you:
      %ul.no-list-style
        %li.mb-4
          %strong Attribute:
          You must attribute any public use of the database, or works produced from the database, in the manner
          specified in the ODbL. For any use or redistribution of the database, or works produced from it, you must make
          clear to others the license of the database and keep intact any notices on the original database.
        %li.mb-4
          %strong Share-Alike:
          If you publicly use any adapted version of this database, or works produced from an adapted database, you must
          also offer that adapted database under the ODbL.
        %li.mb-4
          %strong Keep open:
          If you redistribute the database, or an adapted version of it, then you may use technological measures that
          restrict the work (such as DRM) as long as you also redistribute a version without such measures.

    %p
      This license does not cover each data (content) that has been imported into the database. While using the
      contents, follow the licenses of the following data distributors.
      %ul
        %li
          Colil:
          = labeled_link_to 'http://colil.dbcls.jp/portal/index_en.html', target: '_blank'
        %li
          ExAC:
          = labeled_link_to 'http://exac.broadinstitute.org/terms', target: '_blank'
        %li
          HGVD:
          = labeled_link_to 'http://www.hgvd.genome.med.kyoto-u.ac.jp/about.html', target: '_blank'
        %li
          Integrative Japanese Genome Variation Database 3.5KJPN:
          = labeled_link_to 'https://ijgvd.megabank.tohoku.ac.jp/download_3.5kjpn/', target: '_blank'
        %li
          PubTator:
          = labeled_link_to 'ftp://ftp.ncbi.nlm.nih.gov/pub/lu/PubTator/README.txt', target: '_blank'
        %li
          JGA-NGS Dataset:
          = labeled_link_to 'https://togovar.biosciencedbc.jp/doc/datasets/jga_ngs', target: '_blank'
        %li
          JGA-SNP Dataset:
          = labeled_link_to 'https://togovar.biosciencedbc.jp/doc/datasets/jga_snp', target: '_blank'

    %p
      This is
      = succeed '.' do
        = link_to 'a human-readable summary of the license', 'https://opendatacommons.org/licenses/odbl/summary/', target: '_blank'
      See
      = link_to 'the entire text of ODbL 1.0 License Agreement', 'http://opendatacommons.org/licenses/odbl/1.0/', target: '_blank'
      for the actual license terms to be applied. In addition, refer to
      = succeed '.' do
        = link_to 'Attribution (credit) display examples', '#credit'
      For license display, refer to the description of
      = succeed '.' do
        = link_to 'Examples of ODbL license usage', '#license'

    %h2#credit
      Attribution (credit) display examples
    %h3
      1. How to cite the use of the TogoVar database
    %h4
      If you want to cite the entire TogoVar database
    %p
      TogoVar [Internet]. Tokyo: Japan Science and Technology Agency (Japan), National Bioscience Database Center;
      2018 - [cited YYYY Mmm DD]. Available from:
      = labeled_link_to 'https://togovar.biosciencedbc.jp'

    %h4
      If you want to cite specific variants (tgv47264307) of TogoVar
    %p
      Variant [Internet]. Tokyo: Japan Science and Technology Agency (Japan), National Bioscience Database Center;
      [2018] - . TogoVarID tgv47264307; [cited YYYY Mmm DD]. Available from:
      = labeled_link_to 'https://togovar.biosciencedbc.jp/variant/tgv47264307'

    %h3
      2. How to cite data (content) that has been imported into the TogoVar database
    %p
      You must cite these contents in the methods specified below, according to the content used. Formally, refer to the
      terms of use for each content.

    %h4
      Colil [Terms of use: #{labeled_link_to 'http://colil.dbcls.jp/portal/index_en.html', target: '_blank'}]
    %p
      T. Fujiwara and Y. Yamamoto, "Colil: a database and search service for citation contexts in the life sciences
      domain.", Journal of Biomedical Semantics, 6:38 (19 October 2015). doi:10.1186/s13326-015-0037-x

    %h4
      ExAC [Terms of use: #{labeled_link_to 'http://exac.broadinstitute.org/about', target: '_blank'}]
    %p
      Lek, M., Karczewski, K. J., Minikel, E. V., Samocha, K. E., Banks, E., Fennell, T., … Consortium, E. A. (2016).
      Analysis of protein-coding genetic variation in 60,706 humans. Nature, 536(7616), 285-291.
      = labeled_link_to 'http://doi.org/10.1038/nature19057', target: '_blank'

    %h4
      HGVD Release Version 2.30 (08/02/2017)
      [Terms of use: #{labeled_link_to 'http://www.hgvd.genome.med.kyoto-u.ac.jp/about.html', target: '_blank'}]
    %p
      K. Higasa et al. "Human genetic variation database, a reference database of genetic variations in the Japanese
      population" J Hum Genet 61:547-553, 2016, doi: 10.1038/jhg.2016.12

    %h4
      Integrative Japanese Genome Variation Database 3.5KJPN
      [Terms of use: #{labeled_link_to 'https://ijgvd.megabank.tohoku.ac.jp/download_3.5kjpn/?lang=ja', target: '_blank'}]
    %strong
      (Long version)
    %p
      Rare variant discovery by deep whole-genome sequencing of 1,070 Japanese individuals, Nagasaki M, Yasuda J,
      Katsuoka F, Nariai N, Kojima K, Kawai Y, Yamaguchi-Kabata Y, Yokozawa J, Danjoh I, Saito S, Sato Y, Mimori T,
      Tsuda K, Saito R, Pan X, Nishikawa S, Ito S, Kuroki Y, Tanabe O, Fuse N, Kuriyama S, Kiyomoto H, Hozawa A,
      Minegishi N, Douglas Engel J, Kinoshita K, Kure S, Yaegashi N, ToMMo Japanese Reference Panel Project and
      Yamamoto M, Nat Commun, 21; 6:8018 (2015)
    %strong
      (Short version)
    %p
      Rare variant discovery by deep whole-genome sequencing of 1,070 Japanese individuals, Nagasaki M, Yasuda J,
      Katsuoka F, ToMMo Japanese Reference Panel Project and Yamamoto M, Nat Commun, 21; 6:8018 (2015)

    %h4
      PubTator [Terms of use: #{labeled_link_to 'ftp://ftp.ncbi.nlm.nih.gov/pub/lu/PubTator/README.txt', target: '_blank'}]
    %p
      Wei CH et. al., PubTator: a Web-based text mining tool for assisting Biocuration, Nucleic acids research, 2013,
      41 (W1): W518-W522. doi: 10.1093/nar/gkt44

    %h4
      JGA-NGS dataset [Terms of use: #{labeled_link_to 'https://togovar.biosciencedbc.jp/datasets/jga_ngs'}]
    %p
      Variant set aggregated from NGS data in NBDC Human Database/JGA [Internet]. Tokyo: Japan Science and Technology
      Agency (Japan), National Bioscience Database Center; [2018] - .
      JGA-NGS dataset; [cited YYYY Mmm DD]. Available from:
      = labeled_link_to 'https://togovar.biosciencedbc.jp/datasets/jga_ngs'

    %h4
      JGA-SNP dataset [Terms of use: #{labeled_link_to 'https://togovar.biosciencedbc.jp/datasets/jga_snp'}]
    %p
      Variant set aggregated from SNP-chip data in NBDC Human Database/JGA [Internet]. Tokyo: Japan Science and
      Technology Agency (Japan), National Bioscience Database Center; [2018] - . JGA-SNP dataset; [cited YYYY Mmm DD].
      Available from:
      = labeled_link_to 'https://togovar.biosciencedbc.jp/datasets/jga_ngs'

    %h2#license
      Examples of ODbL license usage
    %ul
      %li
        = link_to 'Farm Subsidy', 'http://farmsubsidy.openspending.org/legal/', target: '_blank'
      %li
        = link_to 'Open Corporates', 'https://opencorporates.com/info/licence', target: '_blank'
