- const navLink = (page) => `/doc/${locals.language && locals.language !== "en" ? `${locals.language}/${page}` : page}`

header#GlobalHeader
  .left
    h1.heading
      a.link(href="/")
        img.logotype(src=require("../../images/logotype.svg").default alt="TOGO VAR")
    span.summary A comprehensive Japanese genetic variation database

    nav.dropdown-view
      button.button #{TOGOVAR_FRONTEND_REFERENCE}
      .selectshow
        ul.list
          li.item
            case TOGOVAR_FRONTEND_REFERENCE
              when 'GRCh37'
                a.link.-active GRCh37
              when 'GRCh38'
                a.link(href="http://grch37.togovar.org/") GRCh37
          li.item
            case TOGOVAR_FRONTEND_REFERENCE
              when 'GRCh37'
                a.link(href="http://grch38.togovar.org/") GRCh38
              when 'GRCh38'
                a.link.-active GRCh38
  .right
    .menu-bar
    nav.menus-view
      .menu-wrapper
        ul.menu.navigation
          li.item.menu-button(class={"-current": locals.currentPage && locals.currentPage.match(/^home/)})
            a.link(href="/") Home
          li.item.menu-button(class={"-current": locals.currentPage && locals.currentPage.match(/^datasets/)})
            a.link(href=navLink("datasets")) Datasets
          li.item.menu-button(class={"-current": locals.currentPage && locals.currentPage.match(/^downloads/)})
            a.link(href=navLink("downloads")) Downloads
          li.item.menu-button(class={"-current": locals.currentPage && locals.currentPage.match(/^api/)})
            a.link(href="/api" target="_blank") API
          li.item.menu-button(class={"-current": locals.currentPage && locals.currentPage.match(/^terms/)})
            a.link(href=navLink("terms")) Terms
          li.item.menu-button(class={"-current": locals.currentPage && locals.currentPage.match(/^contact/)})
            a.link(href=navLink("contact")) Contact
          li.item.menu-button(class={"-current": locals.currentPage && locals.currentPage.match(/^about/)})
            a.link(href=navLink("about")) About
          li.item.menu-button(class={"-current": locals.currentPage && locals.currentPage.match(/^history/)})
            a.link(href=navLink("history")) History
          li.item.menu-button(class={"-current": locals.currentPage && locals.currentPage.match(/^help/)})
            a.link(href=navLink("help")) Help

        if locals.currentPage === "home"
          ul.menu.config
            li.menu-button.config Configuration
            li.menu-button.login 
              a.link
        else if locals.currentPage === "api"
          ul.menu
            li.menu-button.login 
              a.link
        else if locals.currentPage === "variant"
          ul.menu
            li.menu-button.login 
              a.link
        else if locals.currentPage === "gene"
          ul.menu
            li.menu-button.login 
              a.link
        else if locals.currentPage === "disease"
          ul.menu
            li.menu-button.login 
              a.link
        else
          ul.menu
            li.menu-button.languageswitcher(class={"en": locals.language === "en" , "ja": locals.language === "ja"})
              a.language.en(href=`/doc/${locals.currentPage}`)
                | en
              a.language.ja(href=`/doc/ja/${locals.currentPage}`)
                | ja

            li.menu-button.login 
              a.link
