<% provide(:title, 'Datasets') %>
<% provide(:page, 'datasets') %>
<% provide(:active, doc_datasets_path) %>

<main>
  <article class="common-document">
    <header class="header">
      <h2 class="title">TogoVar収録データセット一覧</h2>
    </header>
    <div class="contents">
      <section class="section">
        <h3 class="sectiontitle">NBDCヒトデータベース群<sup>&lowast;1</sup>へ個人毎のデータ<sup>&lowast;2</sup>の利用申請が可能なバリアント頻度データ</h3>
        <p>データ利用申請するには「含まれる制限公開データセット」のリンクをクリックしてください。</p>
        <table class="table">
          <thead>
          <tr>
            <th>頻度データセット名</th>
            <th style="white-space: nowrap;">解析手法</th>
            <th style="white-space: nowrap;">対象集団</th>
            <th style="white-space: nowrap;">健常者</th>
            <th style="white-space: nowrap;">罹患者</th>
            <th style="white-space: nowrap;">サンプル数</th>
            <th style="white-space: nowrap;">バリアント数<br/>(座位数)</th>
            <th>含まれる制限公開データセット</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <!--
            <td><%= link_to 'BBJ-RIKEN', doc_datasets_jga_snp_path, { target: '_blank' } %></td>
            <td>BBJ-RIKEN</td>a
            <td class="_align-left">SNP-Chip</td>
            <td>日本人</td>
            <td class="_align-center"></td>
            <td class="_align-center">&#x2714;</td>
            <td class="_align-right"></td>
            <td class="_align-right"></td>
            <td class="_align-center"></td>
            </tr>
            -->
          <tr>
            <td><%= link_to 'GEM Japan Whole Genome Aggregation (GEM-J WGA) Panel', doc_datasets_gem_j_wga_path, { target: '_blank' } %></td>
            <td class="_align-left">WGS</td>
            <td>日本人</td>
            <td class="_align-center">&#x2714;</td>
            <td class="_align-center"></td>
            <td class="_align-center"><span style="margin-left:15px;">7,609</span></td>
            <td class="_align-center">95,863,463<br/>(90,280,248)</td>
            <td class="_align-center"><%= link_to '6データセット', doc_datasets_gem_j_wga_path(anchor: 'jga_datasets'), { target: '_blank' } %></td>
          </tr>
          <tr>
            <td><%= link_to 'JGA-NGS', doc_datasets_jga_ngs_path, { target: '_blank' } %></td>
            <td class="_align-left">WES</td>
            <td>日本人</td>
            <td class="_align-center">&#x2714;</td>
            <td class="_align-center">&#x2714;</td>
            <td class="_align-center"><span style="margin-left:20px;">125</span></td>
            <td class="_align-center"><span style="margin-left:4px;">4,679,025</span></td>
            <td class="_align-center"><%= link_to '7データセット', doc_datasets_jga_ngs_path(anchor: 'jga_datasets'), { target: '_blank' } %></td>
          </tr>
          <tr>
            <td><%= link_to 'JGA-SNP', doc_datasets_jga_snp_path, { target: '_blank' } %></td>
            <td class="_align-left">SNP-Chip</td>
            <td>日本人</td>
            <td class="_align-center">&#x2714;</td>
            <td class="_align-center">&#x2714;</td>
            <td class="_align-center">183,884</td>
            <td class="_align-center"><span style="margin-left:4px;">1,249,724</span></td>
            <td class="_align-center"><%= link_to '3データセット', doc_datasets_jga_snp_path(anchor: 'jga_datasets'), { target: '_blank' } %></td>
          </tr>
          </tbody>
        </table>
        <p class="notice">
          &lowast;1：<a class="hyper-text -external" target="_blank" href="https://www.ddbj.nig.ac.jp/jga/index.html">Japanese
          Genotype-phenotype Archive (JGA)</a> /
          <a class="hyper-text -external" target="_blank" href="https://www.biobank.amed.go.jp/itc/agd/index.html">AMED
            Genome group sharing Database (AGD)</a><br/>
          &lowast;2：fastq/bam/celファイルやgenotype data一覧など
        </p>
      </section>
      <section class="section">
        <h3 class="sectiontitle">その他のバリアントデータ</h3>
        <table class="table _column-span-all">
          <thead>
          <tr>
            <th>データベース名</th>
            <th style="white-space: nowrap;">解析手法</th>
            <th style="white-space: nowrap;">対象集団</th>
            <th style="white-space: nowrap;">健常者</th>
            <th style="white-space: nowrap;">罹患者</th>
            <th style="white-space: nowrap;">サンプル数</th>
            <th>バリアント数<br/>(座位数)</th>
            <th>作成者</th>
            <th>バージョン/<br/>最終更新日</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><a class="hyper-text -external" target="_blank" href="ftp://ftp.ncbi.nlm.nih.gov/pub/clinvar/">ClinVar</a></td>
            <td class="_align-center">—</td>
            <td class="_align-left">複数</td>
            <td class="_align-center"></td>
            <td class="_align-center">&#x2714;</td>
            <td class="_align-center">—</td>
            <td class="_align-center">674,792</td>
            <td>NCBI</td>
            <td>2020/06/04</td>
          </tr>
          <tr>
            <td><a target="_blank" href="http://exac.broadinstitute.org/downloads">Exome Aggregation Consortium (ExAC)</a></td>
            <td class="_align-left">WES</td>
            <td class="_align-left">複数</td>
            <td class="_align-center">&#x2714;</td>
            <td class="_align-center">&#x2714;</td>
            <td class="_align-center"><span style="margin-left:3px;">60,706</span></td>
            <td class="_align-center">10,195,872<br/>(9,362,319)</td>
            <td>Broad Institute</td>
            <td>Release 1 (2017/02/27)</td>
          </tr>
          <!--
          <tr>
            <td><a  class="hyper-text-external" target="_blank" href="https://gnomad.broadinstitute.org/downloads">Genome Aggregation Database (gnomAD)</a></td>
            <td class="_align-left">WGS</td>
            <td class="_align-left">複数</td>
            <td class="_align-center">&#x2714;</td>
            <td class="_align-center">&#x2714;</td>
            <td class="_align-center"><span style="margin-left:0px;">141,456</span></td>
            <td class="_align-center"></td>
            <td>Broad Institute</td>
            <td>2.1.1</td>
          </tr>
          -->
          <tr>
            <td><a class="hyper-text -external" target="_blank" href="http://www.hgvd.genome.med.kyoto-u.ac.jp/download.html">Human Genetic Variation
              Database (HGVD)</a></td>
            <td class="_align-left">WES</td>
            <td class="_align-left">日本人</td>
            <td class="_align-center">&#x2714;</td>
            <td class="_align-center"></td>
            <td class="_align-center"><span style="margin-left:10px;">1,208</span></td>
            <td class="_align-center">
              <span style="margin-left:10px;">554,461</span><br/><span style="margin-left: 20px;">(501,556)</span></td>
            <td>京都大学</td>
            <td>Version 2.30<br/>(2017/08/02)</td>
          </tr>
          <tr>
            <td><a class="hyper-text -external" target="_blank" href="https://jmorp.megabank.tohoku.ac.jp/202001/downloads/#variant">ToMMo
              4.7KJPN Allele Frequency Panel(4.7KJPN)</a></td>
            <td class="_align-left">WGS</td>
            <td class="_align-left">日本人</td>
            <td class="_align-center">&#x2714;</td>
            <td class="_align-center"></td>
            <td class="_align-center"><span style="margin-left:10px;">4,773</span></td>
            <td class="_align-center">74,494,394<br/>(70,101,710)</td>
            <td>東北メディカル・メガバンク機構</td>
            <td>v20190826</td>
          </tr>
          </tbody>
        </table>
        <p class="notice">
          注1：ClinVarは<a class="hyper-text -external" target="_blank" href="ftp://ftp.ncbi.nlm.nih.gov/pub/clinvar/vcf_GRCh37/">VCFファイル</a>に含まれるGRCh37上の位置が決定しているバリアントのみを掲載しています。<br/>
          注2：4.7KJPNの内訳は、SNV (Autosome、chrX(PAR1+PAR2+XTR)、chrMT)とINDEL (Autosome、chrX(PAR1+PAR2+XTR))
          です。詳細は<a class="hyper-text -external" target="_blank" href="https://jmorp.megabank.tohoku.ac.jp/202001/variants/statistics">Summary
          of ToMMo 4.7KJPN</a>をご覧ください。
        </p>
      </section>
      <section class="section">
        <h3 class="sectiontitle">バリアント以外のデータ</h3>
        <table class="table">
          <thead>
          <tr>
            <th>データベース名</th>
            <th>バージョン/最終更新日</th>
            <th>内容</th>
            <th>作成者</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><a class="hyper-text -external" target="_blank" href="ftp://ftp.dbcls.jp/colil">Colil</a></td>
            <td>2019/01/25</td>
            <td>生命科学分野の文献間の引用関係の情報</td>
            <td>DBCLS</td>
          </tr>
          <tr>
            <td><a class="hyper-text -external" target="_blank" href="https://www.ncbi.nlm.nih.gov/grc/human/data?asm=GRCh37.p13">GRCh37.p13</a></td>
            <td>2013/06/28</td>
            <td>ヒトゲノムリファレンス配列</td>
            <td>GRC</td>
          </tr>
          <tr>
            <td><a class="hyper-text -external" target="_blank" href="ftp://ftp.ebi.ac.uk/pub/databases/genenames/new/tsv/hgnc_complete_set.txt">HGNC symbol report</a></td>
            <td>2020/03/30</td>
            <td>遺伝子シンボルや関連リソースの情報</td>
            <td>HGNC</td>
          </tr>
          <tr>
            <td><a class="hyper-text -external" target="_blank" href="https://www.ncbi.nlm.nih.gov/CBBresearch/Lu/Demo/LitVar/">LitVar</a></td>
            <td>APIで取得</td>
            <td>バリアント名が出現する文献情報</td>
            <td>NCBI</td>
          </tr>
          <tr>
            <td><a class="hyper-text -external" target="_blank" href="ftp://ftp.ncbi.nlm.nih.gov/pub/lu/PubTatorCentral">PubTatorCentral</a></td>
            <td>2020/05/09</td>
            <td>バリアント名が出現する文献情報</td>
            <td>NCBI</td>
          </tr>
          <tr>
            <td><a class="hyper-text -external" target="_blank" href="http://togogenome.org/">TogoGenome</a></td>
            <td class="_align-center">—</td>
            <td>ゲノムに関する包括的な情報</td>
            <td>DBCLS</td>
          </tr>
          </tbody>
        </table>
      </section>
      <section class="section">
        <h3 class="sectiontitle">データ加工に利用したツール</h3>
        <table class="table">
          <thead>
          <tr>
            <th>ツール名</th>
            <th>バージョン</th>
            <th>内容</th>
            <th>作成者</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><a target="_blank" href="https://samtools.github.io/bcftools/">bcftools</a></td>
            <td class="_align-center">—</td>
            <td>Indelの正規化とmultiallelicバリアントのbiallelicバリアントへの分割</td>
            <td>Genome Research Ltd.</td>
          </tr>
          <tr>
            <td><%= link_to 'BioReT', doc_datasets_analysis_path, class: { target: '_blank' } %></td>
            <td class="_align-center">—</td>
            <td>NGSデータからバリアントを特定するツール群を一括実行</td>
            <td><a href="https://amelieff.jp/">アメリエフ</a></td>
          </tr>
          <tr>
            <td><a target="_blank" href="https://www.ensembl.org/info/docs/tools/vep/index.html">Variant Effect Predictor (VEP)</a></td>
            <td>Ensembl rel. 100</td>
            <td>バリアントに<a href="https://www.ensembl.org/info/docs/tools/vep/script/vep_cache.html#cache_content">アノテーション（遺伝子名、Consequence等）</a>を付加</td>
            <td>EMBL-EBI</td>
          </tr>
          </tbody>
        </table>
      </section>
    </div>
  </article>
</main>
