- provide(:title, 'Terms')
- provide(:active, doc_terms_path)

= content_for :header do
  = stylesheet_pack_tag 'static/common', media: :all

%main
  .container
    %h1.title
      利用条件
    %p
      当データベース(以下、データベース)は、#{link_to 'Open Database License(ODbL)', 'http://opendatacommons.org/licenses/odbl/1.0/', target: '_blank'}の下で利用可能です。
    %p
      あなたは自由に
      %ul.no-list-style
        %li.mb-4
          %strong 共有:
          データベースを複製、頒布及び利用することができます。
        %li.mb-4
          %strong 創作:
          データベースから著作物を製作することができます。
        %li.mb-4
          %strong 翻案:
          データベースへの改変、変形及び加工ができます。
    %p
      あなたの従うべき条件は以下の通りです。
      %ul.no-list-style
        %li.mb-4
          %strong 表示:
          あなたはデータベースを公衆利用する場合、又はデータベースから著作物を製作する場合にはODbLで指定された方式に従い、帰属（クレジット）表示をしなければなりません。データベースを利用若しくは再頒布する場合、又はデータベースから著作物を製作する場合、あなたは、あなたのデータベースのライセンスを他者に対して明示するとともに、原データベース上のあらゆる通告を保持しておく必要があります。
        %li.mb-4
          %strong 継承:
          あなたは、本データベースの翻案版、又は翻案版データベースから製作した著作物を公開利用する場合、その翻案版データベースもODbLに基づき提供しなければなりません。
        %li.mb-4
          %strong キープ・オープン:
          あなたは、データベース、又はデータベースの翻案版を再頒布する場合、それらに制限をかける技術的手段（DRMなど）を用いることができます。ただし、あなたは、当該手段を使用していないバージョンも再頒布しなければなりません。
    %p
      データベースに取り込まれた各データ（コンテンツ）の利用にあたっては、下記のデータの輩出元のライセンスに従ってください。
      %ul
        %li
          Colil: #{labeled_link_to 'http://colil.dbcls.jp/portal/', target: '_blank'}
        %li
          ExAC: #{labeled_link_to 'http://exac.broadinstitute.org/terms', target: '_blank'}
        %li
          HGVD: #{labeled_link_to 'http://www.hgvd.genome.med.kyoto-u.ac.jp/about.html', target: '_blank'}
        %li
          Integrative Japanese Genome Variation Database 3.5KJPN:
          = labeled_link_to 'https://ijgvd.megabank.tohoku.ac.jp/download_3.5kjpn/?lang=ja', target: '_blank'
        %li
          PubTator: #{labeled_link_to 'ftp://ftp.ncbi.nlm.nih.gov/pub/lu/PubTator/README.txt', target: '_blank'}
        %li
          JGA-NGS dataset: #{labeled_link_to 'https://togovar.biosciencedbc.jp/doc/datasets/jga_ngs'}
        %li
          JGA-SNP dataset: #{labeled_link_to 'https://togovar.biosciencedbc.jp/doc/datasets/jga_snp'}
    %p
      上記は#{link_to '一般の人に読みやすいようにした要約', 'https://opendatacommons.org/licenses/odbl/summary/', target: '_blank'}です。日本語訳は#{link_to 'OpenStreetMap Japan(OSMJ)による日本語試訳', 'https://wiki.openstreetmap.org/wiki/OSMFJ/ODbL/1.0/summary', target: '_blank'}を参考にしました。
    %p
      適用される実際のライセンス条件については、#{link_to 'ODbL 1.0ライセンス契約の全文', 'http://opendatacommons.org/licenses/odbl/1.0/', target: '_blank'}（OSMJによる日本語試訳は#{link_to 'こちら', 'https://docs.google.com/file/d/0BxvlrTvfS0RAN01oZ1dJa3g0aUU/edit', target: '_blank'})を参照してください。
    %p
      また、帰属表示は#{link_to '帰属（クレジット）表示例', '#credit'}を参考にしてください。
    %p
      ライセンス表示は、#{link_to 'ODbLライセンスの採用例', '#license'}の表記を参考にしてください。

    %h2#credit
      帰属（クレジット）の表示例

    %h3
      1. TogoVarデータベースの利用に対する引用方法

    %h4
      TogoVarデータベース全体を引用する場合
    %p
      TogoVar [Internet]. Tokyo: Japan Science and Technology Agency (Japan), National Bioscience Database Center;
      2018 - [cited YYYY Mmm DD]. Available from:
      = labeled_link_to 'https://togovar.biosciencedbc.jp'

    %h4
      TogoVarの特定の変異(tgv47264307)を引用する場合の例
    %p
      Variant [Internet]. Tokyo: Japan Science and Technology Agency (Japan), National Bioscience Database Center;
      [2018] - . TogoVarID tgv47264307; [cited YYYY Mmm DD]. Available from:
      = labeled_link_to 'https://togovar.biosciencedbc.jp/variant/tgv47264307'

    %h3
      2. TogoVarデータベースに取り込まれた各データ（コンテンツ）の引用方法
    %p
      利用するコンテンツに応じて以下の引用をしてください。正式には各コンテンツの利用条件を参照ください。

    %h4
      Colil [利用条件：#{labeled_link_to 'http://colil.dbcls.jp/portal/', target: '_blank'}]
    %p
      T. Fujiwara and Y. Yamamoto, "Colil: a database and search service for citation contexts in the life sciences
      domain.", Journal of Biomedical Semantics, 6:38 (19 October 2015). doi:10.1186/s13326-015-0037-x

    %h4
      ExAC [利用条件：#{labeled_link_to 'http://exac.broadinstitute.org/about', target: '_blank'}]
    %p
      Lek, M., Karczewski, K. J., Minikel, E. V., Samocha, K. E., Banks, E., Fennell, T., … Consortium, E. A. (2016).
      Analysis of protein-coding genetic variation in 60,706 humans. Nature, 536(7616), 285-291.
      = labeled_link_to 'http://doi.org/10.1038/nature19057', target: '_blank'

    %h4
      HGVD Release Version 2.30 (08/02/2017) [利用条件：#{labeled_link_to 'http://www.hgvd.genome.med.kyoto-u.ac.jp/about.html', target: '_blank'}]
    %p
      K. Higasa et al. "Human genetic variation database, a reference database of genetic variations in the Japanese
      population" J Hum Genet 61:547-553, 2016, doi: 10.1038/jhg.2016.12

    %h4
      Integrative Japanese Genome Variation Database 3.5KJPN [利用条件：#{labeled_link_to 'https://ijgvd.megabank.tohoku.ac.jp/download_3.5kjpn/', target: '_blank'}]
    %strong
      (Long version)
    %p
      Rare variant discovery by deep whole-genome sequencing of 1,070 Japanese individuals, Nagasaki M, Yasuda J,
      Katsuoka F, Nariai N, Kojima K, Kawai Y, Yamaguchi-Kabata Y, Yokozawa J, Danjoh I, Saito S, Sato Y, Mimori T,
      Tsuda K, Saito R, Pan X, Nishikawa S, Ito S, Kuroki Y, Tanabe O, Fuse N, Kuriyama S, Kiyomoto H, Hozawa A,
      Minegishi N, Douglas Engel J, Kinoshita K, Kure S, Yaegashi N, ToMMo Japanese Reference Panel Project and
      Yamamoto M, Nat Commun, 21; 6:8018 (2015)
    %strong
      (Short version)
    %p
      Rare variant discovery by deep whole-genome sequencing of 1,070 Japanese individuals, Nagasaki M, Yasuda J,
      Katsuoka F, ToMMo Japanese Reference Panel Project and Yamamoto M, Nat Commun, 21; 6:8018 (2015)

    %h4
      PubTator [利用条件：#{labeled_link_to 'ftp://ftp.ncbi.nlm.nih.gov/pub/lu/PubTator/README.txt', target: '_blank'}]
    %p
      Wei CH et. al., PubTator: a Web-based text mining tool for assisting Biocuration, Nucleic acids research, 2013,
      41 (W1): W518-W522. doi: 10.1093/nar/gkt44

    %h4
      JGA-NGS dataset [利用条件：#{labeled_link_to 'https://togovar.biosciencedbc.jp/datasets/jga_ngs'}]
    %p
      Variant set aggregated from NGS data in NBDC Human Database/JGA [Internet]. Tokyo: Japan Science and Technology
      Agency (Japan), National Bioscience Database Center; [2018] - .
      JGA-NGS dataset; [cited YYYY Mmm DD]. Available from:
      = labeled_link_to 'https://togovar.biosciencedbc.jp/datasets/jga_ngs'

    %h4
      JGA-SNP dataset [labeled_link_to：#{labeled_link_to 'https://togovar.biosciencedbc.jp/datasets/jga_snp'}]
    %p
      Variant set aggregated from SNP-chip data in NBDC Human Database/JGA [Internet]. Tokyo: Japan Science and
      Technology Agency (Japan), National Bioscience Database Center; [2018] - . JGA-SNP dataset; [cited YYYY Mmm DD].
      Available from:
      = labeled_link_to 'https://togovar.biosciencedbc.jp/datasets/jga_ngs'

    %h2#license ODbLライセンスの採用例
    %ul
      %li
        = link_to 'Open Street Map', 'https://www.openstreetmap.org/copyright/', target: '_blank'
      %li
        = link_to 'Farm Subsidy', 'http://farmsubsidy.openspending.org/legal/', target: '_blank'
      %li
        = link_to 'Open Corporates', 'https://opencorporates.com/info/licence', target: '_blank'
