= content_for :header do
  - Stanza.clin_var.nanostanza.each do |stanza|
    = stanza_link_tag(stanza.name)

  - Stanza.clin_var.togostanza.each do |stanza|
    = stanza_link_tag(stanza.name)

%h1 ClinVarReport#show

.container-fluid
  #nav-wrapper
    #navbar.navbar
      .navbar-inner
        %ul.nav
          - Stanza.clin_var.togostanza.each do |stanza|
            %li= link_to stanza.name, "##{stanza.name}"

  #header.tg-report-header
    %p.tg-report-type ClinVar report
    %h1
      %span#tg-title-id #{@clin_var_id}
      %span#tg-title-label

  - Stanza.clin_var.togostanza.each do |stanza|
    %section{id: stanza.name}
      .page-header
        %h2= stanza.label
      = stanza.tag(clinvar_id: 202166)
