= content_for :header do
  = stylesheet_link_tag 'reports/variant/show', media: :all
  = javascript_include_tag 'reports/variant/show'
  - @stanza.each do |stanza|
    = stanza.link

= content_for :navbar do
  %nav#navbar-stanza.navbar.navbar-expand.flex-column.flex-md-row
    .navbar-inner
      .navbar-scroll
        %ul.navbar-nav.flex-row
          - @stanza.each do |stanza|
            %li{ class: 'nav-item' }= link_to stanza.nav_label, "##{stanza.nav_id}", class: 'nav-link', data: { turbolinks: false }

%main
  .container-fluid
    = render partial: 'layouts/report_header', locals: { title: 'Variant report', id: "tgv#{@tgv_id}" }

    %section#nanostanzas
      %div
        - StanzaRuby.providers.variant.nanostanza.each do |stanza|
          .nanostanza-container{data: {stanza: stanza.uri, 'stanza_tgv_id': @tgv_id, nanostanza_span: stanza.span}}
      %div
        - %w[jga_ngs jga_snp 35kjpn hgvd exac].each do |dataset|
          - stanza = StanzaRuby.providers.variant.nanostanza_meta.frequency
          - sparqlist = "https://togovar.org/sparqlist/api/variant_#{dataset}_nano?tgv_id=#{@tgv_id}"
          .nanostanza-container{data: {stanza: stanza.uri, stanza_sparqlist: sparqlist, nanostanza_span: stanza.span}}

    - @stanza.each do |stanza|
      %section{id: stanza.nav_id}
        .page-header
          %h2= stanza.title
        = stanza.tag
