= content_for :head do
  = javascript_include_tag '/stanza/assets/components/webcomponentsjs/webcomponents-loader.js'

  = link_tag rel: 'import', href: "/stanza/#{@header[0]}"
  - @stanzas.each do |stanza|
    = link_tag rel: 'import', href: "/stanza/#{stanza[0]}"

%header#DetailHeader
  %p.pagetype Variant report
  %h2.title tgv6332
  = stanza_tag @header[0], @header[1]

%main#ReportMain.LayoutReport
  - @stanzas.each do |stanza|
    %section.stanza-view
      %h3.title
        = stanza[1]
      .stanza
        = stanza_tag stanza[0], stanza[2]
