extend ../../layouts/application

append variables
  - locals.currentPage = "help";
  - locals.language = "en";
  - locals.title = "Help | TogoVar";

block head
  each css in htmlWebpackPlugin.files.css
    link(href=css, rel="stylesheet")
  each js in htmlWebpackPlugin.files.js.filter(x => x.match(/^\/js\/main-/))
    script(type="text/javascript", src=js)

block content
  main
    article.common-document
      header.header
        h2.title Help
      .contents
        section.section
          ul.page-index
            li.category
              h3.categorytitle TogoVar in general
              ul.categorylist
                li.item.-question
                  a.link(href='#g1') What are the objectives and utilities of TogoVar?
                li.item.-question
                  a.link(href='#g2') Do you have videos that explain TogoVar?
            li.category
              h3.categorytitle About the terms of use
              ul.categorylist
                li.item.-question
                  a.link(href='#t1') Can I use the TogoVar for free?
                li.item.-question
                  a.link(href='#t2') How to cite the TogoVar database in my publication?
                li.item.-question
                  a.link(href='#t3') Can I use it for commercial purposes?
            li.category
              h3.categorytitle About the data collected in TogoVar
              ul.categorylist
                li.item.-question
                  a.link(href='#d1') Can I retrieve phenotype information on an individual level?
                li.item.-question
                  a.link(href='#d2') Are the data linked with information about gene expression and proteins?
                li.item.-question
                  a.link(href='#d3')
                    | What software is used for detecting variants and how you manage the
                    | quality?
                li.item.-question
                  a.link(href='#d4') What are the targeted variant types for TogoVar?
                li.item.-question
                  a.link(href='#d5') How do you calculate the Consequence value?
                li.item.-question
                  a.link(href='#d6') How do you calculate the value of Clinical significance?
                li.item.-question
                  a.link(href='#d7') What are AlphaMissense, SIFT and PolyPhen?
                li.item.-question
                  a.link(href='#d8') Was a liftover tool used for generating variant data?
            li.category
              h3.categorytitle About the TogoVar search system
              ul.categorylist
                li.item.-question
                  a.link(href='#s1')
                    | What does the frequency indicator in the Frequency column of the search
                    | results represent?
                li.item.-question
                  a.link(href='#s2')
                    | For each variant type, how is the position, reference and alternative allele
                    | described respectively?
                li.item.-question
                  a.link(href='#s3') In TogoVar, how is the variant described?
                li.item.-question
                  a.link(href='#s4') Can I search by HGVS description (e.g. ALDH2:p.Glu504Lys)?
                li.item.-question
                  a.link(href='#s5') What can I do with the Advanced search?
                li.item.-question
                  a.link(href='#s6') Can I search for variants with different alternative allele frequencies between Japanese and other populations?
                li.item.-question
                  a.link(href='#s7') Can I search for variants by both positions on GRCh38 and GRCh37?

      .contents
        section.section
          h3.sectiontitle TogoVar in general
          #g1.question-answer
            h4.question What are the objectives and utilities of TogoVar?
            .answer
              p
                | NGS technologies have enabled large-scale genome sequencing to capture variants at low frequencies.
                | However,
                | existing databases do not contain sufficient variant frequency data for Japanese populations.
                | To address this problem, TogoVar seeks to provide a reliable frequency information by assembling variant
                | information from the NBDC Human Database/Japanese Genotype-phenotype Archive (JGA) and public Japanese
                | genomic
                | variation data.
              p
                | In addition, since the reference human genome sequence can be updated, the genomic position may vary for
                | the
                | same variant if it refers to a different genome build. Thus, in our database, a unique ID is
                | assigned to the same variant, thereby preventing the need to convert the positional information of the
                | variant
                | among different reference sequences, as done by researchers.
          #g2.question-answer
            h4.question Do you have videos that explain TogoVar?
            .answer
              p
                | See
                |
                a(href='https://togotv.dbcls.jp/en/') TogoTV
                | . Videos on TogoVar are
                |
                a(href='https://togotv.dbcls.jp/en/result.html?type=manual&lang=en&page=1&query=TogoVar') here
                | .

        section.section
          h3.sectiontitle About the terms of use
          #t1.question-answer
            h4.question Can I use the TogoVar for free?
            .answer
              p
                | You can use the TogoVar service for free. For the use of the database, refer to the
                |
                a(href='/doc/terms') Terms
                | .
          #t2.question-answer
            h4.question How to cite the TogoVar database in my publication?
            .answer
              p
                | Refer to the attribution (credit) display examples in
                |
                a(href='/doc/terms') Terms
                | .
          #t3.question-answer
            h4.question Can I use it for commercial purposes?
            .answer
              p
                | You are free to browse the TogoVar websites and use the docker images to be released for commercial
                | purposes.
                | For data created by third parties and imported in TogoVar, please follow the terms of use of each
                | organization.
                | For more details, refer to
                |
                a(href='/doc/terms') Terms
                | .

        section.section
          h3.sectiontitle About the data collected in TogoVar
          #d1.question-answer
            h4.question Can I retrieve phenotype information on an individual level?
            .answer
              p
                | TogoVar database does not keep private information, and we do not currently provide phenotype information
                | for each individual. For more details about phenotype information, please directly contact the research
                | groups
                | described in the
                |
                a(href='/doc/datasets/jga_ngs') JGA-NGS dataset
                |  and
                |
                a(href='/doc/datasets/jga_snp') JGA-SNP dataset
                | .
          #d2.question-answer
            h4.question Are the data linked with information about gene expression and proteins?
            .answer
              p
                | Not yet but planned.
          #d3.question-answer
            h4.question What software is used for detecting variants and how you manage the quality?
            .answer
              p
                | Refer to
                |
                a(href='/doc/datasets/analysis') How JGA dataset was generated
                | .
          #d4.question-answer
            h4.question What are the targeted variant types for TogoVar?
            .answer
              p
                | There are five targeted variant types for TogoVar: SNV, Insertion, Deletion, Indel, and Substitution. Of
                |
                a.hyper-text.-external(target='_blank', href='http://varnomen.hgvs.org/bg-material/simple/#types-of-variants')
                  | 5 types that HGVS enumerated as the types of variants
                | , Duplication is classified as Insertion, and Indels, for which the lengths of Insertion and Deletion
                | are the same, are classified as Substitution. To identify the type of the variant,
                |
                a.hyper-text.-external(target='_blank', href='https://www.ensembl.org/vep')
                  | Variant Effect Predictor (VEP)
                |  is used.
          #d5.question-answer
            h4.question How do you calculate the Consequence value?
            .answer
              p
                | The value of variant consequence in
                |
                a.hyper-text.-external(target='_blank', href='https://asia.ensembl.org/info/genome/variation/prediction/predicted_data.html#consequences')
                  | Variant Effect Predictor (VEP)
                |  is displayed. If there are multiple transcripts for a single variant, only the most critical
                | consequence may be displayed.
          #d6.question-answer
            h4.question How do you calculate the value of Clinical significance?
            .answer
              p
                | The value of
                |
                a.hyper-text.-external(target='_blank', href='https://www.ncbi.nlm.nih.gov/clinvar/docs/clinsig/#clinsig_options_scv')
                  | clinical significance in ClinVar
                |  is displayed.
          #d7.question-answer
            h4.question What are AlphaMissense, SIFT and Polyphen?
            .answer
              p
                | AlphaMissense, SIFT and PolyPhen predict the impact of variants on protein function when an amino acid sequence is altered.
                | These programs were performed using
                |
                a.hyper-text.-external(target='_blank', href='https://asia.ensembl.org/info/genome/variation/prediction/protein_function.html')
                  | Variant Effect Predictor (VEP)
                | . The icons below represent the threshold scores used for qualitative predictions.
              ul.unordered-list._margin-bottom._align-left
                li
                  strong AlphaMissense
                  br
                  div
                    .variant-function._width_5em._align-center(data-function='LP') &gt; 0.564
                    span._margin-left Likely pathogenic
                  div
                    .variant-function._width_5em._align-center(data-function='A') &ge; 0.340
                    span._margin-left Ambiguous
                  div
                    .variant-function._width_5em._align-center(data-function='LB') &lt; 0.340
                    span._margin-left Likely benign
                  span The score thresholds for "Likely pathogenic" and "Likely benign" were chosen to classify pathogenic and benign ClinVar variants with 90% precision, respectively. See
                    |
                    |
                  a.hyper-text.-external(target='_blank', href='https://asia.ensembl.org/info/docs/tools/vep/script/vep_plugins.html#alphamissense') AlphaMissense in VEP Plugins
                  |
                  | for details.
                li
                  strong SIFT
                  br
                  div
                    .variant-function._width_5em._align-center(data-function='D') &lt; 0.05
                    span._margin-left Deleterious
                  div
                    .variant-function._width_5em._align-center(data-function='T') &ge; 0.05
                    span._margin-left Tolerated
                  span The score represents the normalized probability of an amino acid change being tolerated. Scores closer to zero indicate a higher likelihood of the change being deleterious.
                    |
                    | The qualitative prediction is based on this score. Substitutions with a score less than 0.05 are classified as "Deleterious", while all others are considered "Tolerated". See
                    |
                  a.hyper-text.-external(target='_blank', href='https://asia.ensembl.org/info/genome/variation/prediction/protein_function.html#sift') SIFT in Pathogenicity prediction of Ensembl Variation
                  |
                  | for details.
                li
                  strong PolyPhen
                  br
                  div
                    .variant-function._width_5em._align-center(data-function='PROBD') &gt; 0.908
                    span._margin-left Probably Damaging
                  div
                    .variant-function._width_5em._align-center(data-function='POSSD') &gt; 0.446
                    span._margin-left Possibly Damaging
                  div
                    .variant-function._width_5em._align-center(data-function='B') &le; 0.446
                    span._margin-left Benign
                  div
                    .variant-function._width_5em._align-center(data-function='U') Unknown
                    span._margin-left Unknown
                  span Variants are predicted as "Probably Damaging" if they have posterior probability scores indicating an estimated false positive rate (FPR) of 5% or below.
                    |
                    | Those with FPRs at or below 10% are "Possibly Damaging", while variants with FPRs above 10% are classified as "Benign". See
                    |
                  a.hyper-text.-external(target='_blank', href='https://asia.ensembl.org/info/genome/variation/prediction/protein_function.html#polyphen') Polyphen in Pathogenicity prediction of Ensembl Variation
                  |
                  | for details.
          #d8.question-answer
            h4.question Was a liftover tool used for generating variant data?
            .answer
              p
                | Yes. Some of the GRCh38 datasets have been created by lifting over their GRCh37 datasets.
                | Please refer to
                a.hyper-text.-external(target='_blank', href='https://grch38.togovar.org/doc/datasets')
                  |
                  | the Liftover GRCh37 column in the TogoVar datasets (GRCh38) page
                | for the target datasets. A liftover tool
                |
                a.hyper-text.-external(target='_blank', href='https://github.com/informationsea/transanno')
                  | transanno
                | has been used since the release on November 16, 2023.
                |
                a.hyper-text.-external(target='_blank', href='https://crossmap.sourceforge.net/')
                  | CrossMap
                | was used until the release on July 14, 2023.
        section.section
          h3.sectiontitle About the TogoVar search system
          #s1.question-answer._column-span-all
            h4.question
              | What does the frequency indicator in the Frequency column of the search results
              | represent?
            .answer
              p
                | The frequency indicator represents the alternative allele frequency for each dataset. The color of the
                | frequency meter corresponds to the color allocated to the dataset. The data availability or frequency
                | value is represented on a 9-point scale.
              ._flex._break-avoid
                ._padding-right-large
                  logarithmized-block-graph-frequency-view(data-dataset="" data-logarithmized-frequency="na")
                  | &nbsp; Not Available
                  br
                  logarithmized-block-graph-frequency-view(data-dataset="" data-logarithmized-frequency="monomorphic")
                  | &nbsp; Monomorphic (REF)
                  br
                  logarithmized-block-graph-frequency-view(data-dataset="" data-logarithmized-frequency="undefined" data-count="1")
                  | &nbsp; Singleton
                ._padding-right-large
                  logarithmized-block-graph-frequency-view(data-dataset="" data-logarithmized-frequency="<0.0001")
                  | &nbsp; &lt; 0.0001
                  br
                  logarithmized-block-graph-frequency-view(data-dataset="" data-logarithmized-frequency="<0.001")
                  | &nbsp; &lt; 0.001
                  br
                  logarithmized-block-graph-frequency-view(data-dataset="" data-logarithmized-frequency="<0.01")
                  | &nbsp; &lt; 0.01
                  br
                  logarithmized-block-graph-frequency-view(data-dataset="" data-logarithmized-frequency="<0.05")
                  | &nbsp; &lt; 0.05
                  br
                  logarithmized-block-graph-frequency-view(data-dataset="" data-logarithmized-frequency="<0.5")
                  | &nbsp; &lt; 0.5
                  br
                  logarithmized-block-graph-frequency-view(data-dataset="" data-logarithmized-frequency="≥0.5")
                  | &nbsp; ≥ 0.5
                ._padding-right-large
                  logarithmized-block-graph-frequency-view(data-dataset="gem_j_wga" data-logarithmized-frequency="≥0.5")
                  | &nbsp; GEM-J WGA
                  br
                  logarithmized-block-graph-frequency-view(data-dataset="jga_ngs" data-logarithmized-frequency="≥0.5")
                  | &nbsp; JGA-NGS
                  br
                  logarithmized-block-graph-frequency-view(data-dataset="jga_snp" data-logarithmized-frequency="≥0.5")
                  | &nbsp; JGA-SNP
                  br
                  logarithmized-block-graph-frequency-view(data-dataset="tommo" data-logarithmized-frequency="≥0.5")
                  if TOGOVAR_FRONTEND_REFERENCE === "GRCh37"
                    | &nbsp; ToMMo 8.3KJPN
                  else if TOGOVAR_FRONTEND_REFERENCE === "GRCh38"
                    | &nbsp; ToMMo 54KJPN
                  br
                  if TOGOVAR_FRONTEND_REFERENCE === "GRCh37"
                    logarithmized-block-graph-frequency-view(data-dataset="hgvd" data-logarithmized-frequency="≥0.5")
                    | &nbsp; HGVD
                    br
                  if TOGOVAR_FRONTEND_REFERENCE === "GRCh38"
                    logarithmized-block-graph-frequency-view(data-dataset="ncbn" data-logarithmized-frequency="≥0.5")
                    | &nbsp; NCBN
                    br
                  logarithmized-block-graph-frequency-view(data-dataset="gnomad_genomes" data-logarithmized-frequency="≥0.5")
                  | &nbsp; gnomAD genomes
                  br
                  logarithmized-block-graph-frequency-view(data-dataset="gnomad_exomes" data-logarithmized-frequency="≥0.5")
                  | &nbsp; gnomAD exomes

          #s2.question-answer._column-span-all
            h4.question
              | For each variant type, how is the position, reference and alternative allele described respectively?
            .answer
              p
                | An example for each variant type is shown below. Note that the position of the first base in the
                | chromosome is 1.
              table.results-view
                thead
                  tr
                    th
                      p Variant Type
                    th
                      p ID
                    th
                      p Position
                    th
                      p Ref / Alt
                    th
                      p Description
                tbody
                  tr
                    td
                      .variant-type SNV
                    td
                      a(target='_blank', href='/variant/tgv167913215') tgv167913215
                    td
                      .chromosome-position
                        .chromosome 12
                        .coordinate 111767141
                    td
                      .ref-alt
                        span.ref C
                        span.arrow
                        span.alt A
                    td The 111767141st base C in chromosome 12 was replaced by A.
                  tr
                    td
                      .variant-type Ins
                    td
                      a(target='_blank', href='/variant/tgv134135934') tgv134135934
                    td
                      .chromosome-position
                        .chromosome 12
                        .coordinate 111786238
                    td
                      .ref-alt
                        span.ref
                        span.arrow
                        span.alt G
                    td A base G was inserted between the 111786238th and 111786239th bases in chromosome 12.
                  tr
                    td
                      .variant-type Del
                    td
                      a(target='_blank', href='/variant/tgv110307325') tgv110307325
                    td
                      .chromosome-position
                        .chromosome 12
                        .coordinate 111778836
                    td
                      .ref-alt
                        span.ref A
                        span.arrow
                        span.alt
                    td The 111778836th base A in Chromosome 1 was deleted.
          #s3.question-answer._column-span-all
            h4.question In TogoVar, how is the variant described?
            .answer
              p
                | A. In TogoVar a variant is identified as a set of its genomic position, reference and alternative
                | allele and human genome build. Examples of variant notations in TogoVar, dbSNP,
                |
                a.hyper-text.-external(target='_blank', href='https://samtools.github.io/hts-specs/VCFv4.2.pdf') VCF
                |  and
                |
                a.hyper-text.-external(target='_blank', href='http://varnomen.hgvs.org/bg-material/simple/#types-of-variants')
                  | HGVS
                |  are shown below.
              table.results-view
                thead
                  tr.groupingrow
                    th(colspan='2')
                    th(colspan='4')
                      p TogoVar
                    th(colspan='4')
                      p dbSNP
                    th(colspan='4')
                      p VCF
                    th
                      p HGVS
                  tr
                    th
                    th.separator
                    th
                      p ID
                    th
                      p Position (GRCh38)
                    th
                      p Ref / Alt
                    th.separator
                    th
                      p ID
                    th
                      p Position (GRCh38)
                    th
                      p Alleles
                    th.separator
                    th
                      p Position
                    th
                      p Ref
                    th
                      p Alt
                    th.separator
                    th
                tbody
                  tr
                    td(rowspan='2')
                      .variant-type SNV
                    td.separator(rowspan='2')
                    td
                      a(target='_blank', href='/variant/tgv167913215') tgv167913215
                    td(rowspan='2')
                      .chromosome-position
                        .chromosome 12
                        .coordinate 111767141
                    td
                      .ref-alt
                        span.ref C
                        span.arrow
                        span.alt A
                    td.separator(rowspan='2')
                    td(rowspan='2')
                      a.hyper-text.-external(target='_blank', href='https://www.ncbi.nlm.nih.gov/snp/rs567143183') rs567143183
                    td(rowspan='2') chr12:111767141
                    td C&gt;A
                    td.separator(rowspan='2')
                    td(rowspan='2') 12:111767141
                    td C
                    td A
                    td.separator(rowspan='2')
                    td 12:g.111767141:C&gt;A
                  tr
                    td
                      a(target='_blank', href='/variant/tgv47263142') tgv47263142
                    td
                      .ref-alt
                        span.ref C
                        span.arrow
                        span.alt G
                    td C&gt;G
                    td C
                    td G
                    td 12:g.111767141:C&gt;G
                  tr
                    td
                      .variant-type Ins
                    td.separator
                    td
                      a(target='_blank', href='/variant/tgv134135934') tgv134135934
                    td
                      .chromosome-position
                        .chromosome 12
                        .coordinate 111786238
                    td
                      .ref-alt
                        span.ref
                        span.arrow
                        span.alt G
                    td.separator
                    td
                      a.hyper-text.-external(target='_blank', href='https://www.ncbi.nlm.nih.gov/snp/rs534925026') rs534925026
                    td chr12:111786238
                    td insG
                    td.separator
                    td 12:111786238
                    td T
                    td TG
                    td.separator
                    td 12:g.111786238_111786239insG
                  tr
                    td
                      .variant-type Del
                    td.separator
                    td
                      a(target='_blank', href='/variant/tgv110307325') tgv110307325
                    td
                      .chromosome-position
                        .chromosome 12
                        .coordinate 111778836
                    td
                      .ref-alt
                        span.ref A
                        span.arrow
                        span.alt
                    td.separator
                    td
                      a.hyper-text.-external(target='_blank', href='https://www.ncbi.nlm.nih.gov/snp/rs766411401') rs766411401
                    td chr12:111778836-111778847
                    td delA
                    td.separator
                    td 12:111778836
                    td GA
                    td G
                    td.separator
                    td 12:g.111778847del
          #s4.question-answer._column-span-all
            h4.question
              | Q: Can I search by
              a.hyper-text.-external(target='_blank', href='https://varnomen.hgvs.org/') HGVS description
              | (e.g. ALDH2:p.Glu504Lys)?
            .answer
              p
                | Yes. HGVSc (e.g.
                a(target='_blank', href='/?term=ALDH2%3Ac.1510G%3EA') ALDH2:c.1510G&gt;A
                | ) and HGVSp (e.g.
                a(target='_blank', href='/?term=ALDH2%3Ap.Glu504Lys') ALDH2:p.Glu504Lys
                | ) are acceptable.
                |
                a.hyper-text.-external(target='_blank', href='https://m.ensembl.org/info/docs/tools/vep/recoder/index.html') Variant Recoder
                | is used to convert an HGVS description to a GRCh38/GRCh37 position.
          #s5.question-answer._column-span-all
            h4.question
              | Q: What can I do with the
              |
              a.hyper-text.-external(target='_blank', href='/?mode=advanced') Advanced search
              | ?
            .answer
              p
                |You can build a query with an alternative allele frequency, clinical significance,
                | and other search criteria combined with the AND and/or OR operator. See
                a.link(href='#s6') "Q: Can I search for variants with different alternative allele frequencies between Japanese and other populations?"
                |
                |for usage.
          #s6.question-answer._column-span-all
            h4.question Can I search for variants with different alternative allele frequencies between Japanese and other populations?
            .answer
              p
                | Yes. You can search by
                a.hyper-text.-external(target='_blank', href='/?mode=advanced')  Advanced search
                p
                | Variant sets for comparison of alternative allele frequencies are as follows:
                ul.unordered-list
                  li For Japanese populations, variants included in either GEM-J WGA or 8.3KJPN
                  li For gnomAD populations,  variants included in either gnomAD genomes or gnomAD exomes
                p
                | We will search for variants with an alternative allele frequency greater than 0.3 for Japanese populations and less than 0.05 for gnomAD populations.
                ol.ordered-list
                  li Select the Advanced search tab at the top of
                    a.hyper-text.-external(target='_blank', href='https://togovar-stg.biosciencedbc.jp')  the home page.
                    img(src=require("../../../images/help-image1.png").default alt="help-image1")
                  li Select the Alternative allele frequency/count at the Add condition menu.
                    p
                      img(src=require("../../../images/help-image2.png").default alt="help-image2" width="241")
                  li Specify a dataset (GEM-J WGA) and an alternative allele frequency (>= 0.3). You can also specify the number of alternative alleles.
                    img(src=require("../../../images/help-image3.png").default alt="help-image3")
                  li Click the OK button. The search criteria has been set.
                    img(src=require("../../../images/help-image4.png").default alt="help-image4")
                  li In the same procedures, enter search criteria for the datasets, ToMMo 8.3KJPN, gnomAD genomes and gnomAD exomes.
                    img(src=require("../../../images/help-image5.png").default alt="help-image5")
                  li Join the search criteria for Japanese populations, GEM-J WGA and ToMMo 8.3KJPN, with the OR operator.
                    ol.ordered-list
                      li Select the search criteria for GEM-J WGA and ToMMo 8.3KJPN. The selected criteria is enclosed by yellow borders.
                        img(src=require("../../../images/help-image6.png").default alt="help-image6")
                      li Select the Group menu. The selected criteria are joined with the OR operator. To change to the AND operator, click the OR icon.
                        img(src=require("../../../images/help-image7.png").default alt="help-image7")
                  li In the same procedures, the search criteria for the gnomAD genomes and gnomAD exomes are joined with the OR operator.
                    img(src=require("../../../images/help-image8.png").default alt="help-image8")
                p
                | The final search criteria is as follows:
                p
                | ((freq(GEM-J WGA) &gt;= 0.3) OR (freq(ToMMo 8.3KJPN) &gt;= 0.3))
                br
                | AND
                br
                | (freq(gnomAD genomes) &lt;= 0.05) OR (freq(gnomAD exomes) &lt;= 0.05))
                p
                | Each time search criteria is changed, the search is automatically executed and a list of variants that match the criteria is refreshed.
                img(src=require("../../../images/help-image9.png").default alt="help-image9")
                p
                | Functions in the menu bar
                ul.unordered-list
                  li Add condition: Add search criteria to the query builder.
                  li Group: Combine selected search criteria indicated by yellow borders with the OR operators. Note: click the OR icon to change to the AND operator.
                  li Ungroup: Separate joined search criteria. This is a reverse operation of the Group menu.
                  li Delete: Delete selected search criteria indicated by yellow borders.
                p
                | Meaning of the icons
                ul.unordered-list
                  li
                    img(src=require("../../../images/help-pencil.png").default alt="help-pencil")
                    | ：Edit search criteria
                  li
                    img(src=require("../../../images/help-cross.png").default alt="help-cross")
                    | ：Delete search criteria
          #s7.question-answer._column-span-all
            h4.question Can I search for variants by both positions on GRCh38 and GRCh37?
            .answer
              p
              | Yes. The version number of the reference sequence is displayed at the header. Click the version number to switch to the other.
              img(src=require("../../../images/help-image10.png").default alt="help-image10")