= content_for :header do
  = stylesheet_link_tag 'reports/gene/show', media: :all
  = javascript_include_tag 'reports/gene/show'

= content_for :navbar do
  %nav#navbar-stanza.navbar.navbar-expand.flex-column.flex-md-row
    .navbar-inner
      .navbar-scroll
        %ul.navbar-nav.flex-row
          - StanzaRuby.providers.genes.togostanza.each do |stanza|
            %li{ class: 'nav-item' }= link_to stanza.name, "##{stanza.uri.split('/').last}", class: 'nav-link', data: { turbolinks: false }

%main
  .container-fluid
    = render partial: 'layouts/report_header', locals: { title: 'Gene report', id: @gene_id, label: @gene.name }

    %section#nanostanzas.row-fluid
      - StanzaRuby.providers.genes.nanostanza[0..0].each do |stanza|
        .nanostanza-container{data: {stanza: stanza.uri, stanza_tax_id: 9606, stanza_gene_id: @gene_id, nanostanza_span: stanza.span}}
      - if @gene.ensembl_gene.present?
        - StanzaRuby.providers.genes.nanostanza[1..1].each do |stanza|
          .nanostanza-container{data: {stanza: stanza.uri, stanza_gene_id: @gene.ensembl_gene, nanostanza_span: stanza.span}}
      - StanzaRuby.providers.genes.nanostanza[2..-1].each do |stanza|
        .nanostanza-container{data: {stanza: stanza.uri, stanza_tax_id: 9606, stanza_gene_id: @gene_id, nanostanza_span: stanza.span}}

    - StanzaRuby.providers.genes.togostanza.each do |stanza|
      %section{id: stanza.uri.split('/').last}
        .page-header
          %h2= stanza.name
        %div{data: {stanza: stanza.uri, stanza_tax_id: 9606, stanza_gene_id: @gene_id}}
