= content_for :header do
  = stylesheet_link_tag 'reports/variation/show', media: :all
  - @stanza.each do |stanza|
    = stanza.link

#nav-wrapper
  #navbar.navbar
    .navbar-inner
      %ul.nav
        - @stanza.each do |stanza|
          %li= link_to stanza.name, "##{stanza.name}"
%main
  .container
    %h1 Variant Report

    -#%section#nanostanzas.row-fluid
    -#  - StanzaRuby.providers.variant.nanostanza.each do |stanza|
    -#    .nanostanza-container{data: {stanza: stanza.uri, 'stanza_tgv-id': @tgv_id, nanostanza_span: stanza.span}}

    - @stanza.each do |stanza|
      %section{id: stanza.name}
        .page-header
          %h2= stanza.label
        = stanza.tag

= content_for :javascript do
  = javascript_include_tag 'stanza'
