extend ../../layouts/application

append variables
  - locals.currentPage = "help";
  - locals.language = "ja";
  - locals.title = "Help | TogoVar";

block head
  each css in htmlWebpackPlugin.files.css
    link(href=css, rel="stylesheet")
  each js in htmlWebpackPlugin.files.js.filter(x => x.match(/^\/js\/main-/))
    script(type="text/javascript", src=js)

block content
  main
    article.common-document
      header.header
        h2.title Help
      .contents
        section.section
          ul.page-index
            li.category
              h3.categorytitle TogoVar全般
              ul.categorylist
                li.item.-question
                  a.link(href='#g1') TogoVarの目的や有用性は何でしょうか。
                li.item.-question
                  a.link(href='#g2') 動画を使った説明はありますか。
            li.category
              h3.categorytitle 利用条件に関して
              ul.categorylist
                li.item.-question
                  a.link(href='#t1') TogoVarデータベースの利用は無償でしょうか。
                li.item.-question
                  a.link(href='#t2') TogoVarデータベースを論文で引用するにはどうすれば良いでしょうか。
                li.item.-question
                  a.link(href='#t3') 商用利用は可能でしょうか。
            li.category
              h3.categorytitle TogoVar収録データに関して
              ul.categorylist
                li.item.-question
                  a.link(href='#d1') 個人レベルの表現型情報の取得は可能でしょうか。
                li.item.-question
                  a.link(href='#d2') 遺伝子発現やタンパク質の情報とは結び付かないのでしょうか。
                li.item.-question
                  a.link(href='#d3') バリアントの検出の際に使用したソフトウェアおよび品質管理の方法を教えてください。
                li.item.-question
                  a.link(href='#d4') TogoVarで対象としているバリアントの種類は何ですか。
                li.item.-question
                  a.link(href='#d5') Consequenceの値はどのように計算していますか。
                li.item.-question
                  a.link(href='#d6') Clinical Significanceの値はどのように計算していますか。
                li.item.-question
                  a.link(href='#d7') AlphaMissense、SIFT、PolyPhenとは何ですか。
                li.item.-question
                  a.link(href='#d8') バリアントデータ作成時にリフトオーバツールを利用しましたか。
            li.category
              h3.categorytitle TogoVar検索システムに関して
              ul.categorylist
                li.item.-question
                  a.link(href='#s1') 検索結果のFrequency列に表示される頻度メーターは何を表現していますか。
                li.item.-question
                  a.link(href='#s2') バリアントタイプごとにPosition、Ref、Altはそれぞれどのように記述されますか。
                li.item.-question
                  a.link(href='#s3') TogoVarでは、どのようにバリアントを表記していますか。
                li.item.-question
                  a.link(href='#s4') Human Genome Variation Society (HGVS) 表記 (例：ALDH2:p.Glu504Lys) で検索できますか。
                li.item.-question
                  a.link(href='#s5') Advanced searchでできることは何ですか。
                li.item.-question
                  a.link(href='#s6') 日本人集団とその他の集団で代替アレル頻度が異なるバリアントを検索できますか。
                li.item.-question
                  a.link(href='#s7') GRCh37、GRCh38のどちらの位置でもバリアントを検索できますか。

      .contents
        section.section
          h3.sectiontitle TogoVar全般
          #g1.question-answer
            h4.question TogoVarの目的や有用性は何でしょうか。
            .answer
              p
                | ゲノムの解読はNGSにより低頻度の変異を取得することが可能となりました。しかし、欧米の既存データベースには、十分なサンプル数の日本人集団における頻度データはありません。この問題を解決するため、公開されている日本人のゲノム変異情報やNBDCに寄託されたヒトデータベースからの情報を集積し、より信頼性の高い頻度情報を提供することを目指します。
              p
                | また、ヒトゲノムの参照配列は常に一定ではなく更新される情報であるため、同じバリアントであっても参照配列が異なるとゲノム上の位置が異なります。そこで、当データベースでは同じバリアントにはユニークなIDを付与することで、研究者が行っているバリアントの位置情報を参照配列間で変換する作業を省力化します。
          #g2.question-answer
            h4.question 動画を使った説明はありますか。
            .answer
              p
                a(href='https://togotv.dbcls.jp/') TogoTV
                | をご覧ください。TogoVarに関する動画は
                a(href='https://togotv.dbcls.jp/result.html?type=manual&page=1&query=TogoVar') こちら
                | です。
        section.section
          h3.sectiontitle 利用条件に関して
          #t1.question-answer
            h4.question TogoVarデータベースの利用は無償でしょうか。
            .answer
              p
                | すべて無償での利用が可能です。データベースの利用については、
                a(href='./terms') Terms
                | のページを参照してください。
          #t2.question-answer
            h4.question TogoVarデータベースを論文で引用するにはどうすれば良いでしょうか。
            .answer
              p
                a(href='./terms') Terms
                | のクレジットの表示例を参考にしてください。
          #t3.question-answer
            h4.question 商用利用は可能でしょうか。
            .answer
              p
                | TogoVarのwebサイトの閲覧や公開予定のdockerイメージは商用利用可能です。TogoVarが取り込んでいる第三者作成データに関してはそれそれの利用条件に従ってください。詳しくは
                a(href='./terms') Terms
                | をご覧ください。

        section.section
          h3.sectiontitle TogoVar収録データに関して
          #d1.question-answer
            h4.question 個人レベルの表現型情報の取得は可能でしょうか。
            .answer
              p
                | 当データベースは個人情報を保持しておらず、また、個人ごとの表現型情報は現在のところ提供はしておりません。表現型情報の詳細については、
                a(href='./datasets/jga_ngs') JGA-NGSデータセット
                | 及び
                a(href='./datasets/jga_snp') JGA-SNPデータセット
                | に記載されている研究グループに直接お問い合わせ下さい。
          #d2.question-answer
            h4.question 遺伝子発現やタンパク質の情報とは結び付かないのでしょうか。
            .answer
              p
                | 当データベースはヒトゲノムの遺伝子変異について、日本人の公開情報を中心として統合したものです。当データベースはRDFの技術をベースとして利用している為、遺伝子発現やタンパク質の情報がRDFを利用しているデータベースである場合は、容易に拡張が可能と考えております。遺伝子発現やタンパク質の情報への拡張は順次実施する予定です。
          #d3.question-answer
            h4.question バリアントの検出の際に使用したソフトウェアおよび品質管理の方法を教えてください。
            .answer
              p
                a(href='./datasets/analysis') TogoVarデータセット作成方法
                | を参照ください。
          #d4.question-answer
            h4.question TogoVarで対象としているバリアントの種類は何ですか。
            .answer
              p
                | SNV、Insertion、Deletion、Indel、Substitutionの5種類です。
                a.hyper-text.-external(target='_blank', href='http://varnomen.hgvs.org/bg-material/simple/#types-of-variants')
                  | HGVSがType of variantsに列挙した5種類
                | のうち、DuplicationはInsertionに、DeletionとInsertionの長さが同じIndelはSubstitionに分類されています。なお、バリアントの種類の特定には、
                a.hyper-text.-external(target='_blank', href='https://www.ensembl.org/vep')
                  | Variant Effect Predictor (VEP)
                | を利用しています。
          #d5.question-answer
            h4.question Consequenceの値はどのように計算していますか。
            .answer
              p
                a.hyper-text.-external(target='_blank', href='https://asia.ensembl.org/info/genome/variation/prediction/predicted_data.html#consequences')
                  | Variant Effect Predictor (VEP)のvariant consequence
                | の値を表示しています。１バリアントに対応するトランスクリプトが複数ある場合は、一番重大なconsequenceのみを表示している場合があります。
          #d6.question-answer
            h4.question Clinical Significanceの値はどのように計算していますか。
            .answer
              p
                a.hyper-text.-external(target='_blank', href='https://www.ncbi.nlm.nih.gov/clinvar/docs/clinsig/#clinsig_options_scv')
                  | ClinVarのclinical significance
                | の値を表示しています。

          #d7.question-answer
            h4.question AlphaMissense、SIFT、PolyPhenとは何ですか。
            .answer
              p
                | AlphaMissense、SIFTおよびPolyPhenはアミノ酸配列が変更された際のタンパク質の機能への影響を予測します。これらのプログラムは
                a.hyper-text.-external(target='_blank', href='https://asia.ensembl.org/info/genome/variation/prediction/protein_function.html')
                  | Variant Effect Predictor (VEP)
                | を使用して計算しました。以下のアイコンは定性的予測に使用される閾値スコアを表しています。
              ul.unordered-list._margin-bottom._align-left
                li
                  strong AlphaMissense
                  br
                  div
                    .variant-function._width_5em._align-center(data-function='LP') &gt; 0.564
                    span._margin-left Likely pathogenic
                  div
                    .variant-function._width_5em._align-center(data-function='AMBIGUOUS') &ge; 0.340
                    span._margin-left Ambiguous
                  div
                    .variant-function._width_5em._align-center(data-function='LB') &lt; 0.340
                    span._margin-left Likely benign
                  span 「Likely pathogenic（おそらく病原性あり）」と 「Likely benign"（おそらく良性）」のスコアの閾値は、それぞれ病原性および良性のClinVarバリアントを90%の精度で分類できるように選ばれました。詳細は
                  a.hyper-text.-external(target='_blank', href='https://asia.ensembl.org/info/docs/tools/vep/script/vep_plugins.html#alphamissense') AlphaMissense in VEP Plugins
                  | を参照ください。
                li
                  strong SIFT
                  br
                  div
                    .variant-function._width_5em._align-center(data-function='D') &lt; 0.05
                    span._margin-left Deleterious
                  div
                    .variant-function._width_5em._align-center(data-function='T') &ge; 0.05
                    span._margin-left Tolerated
                  span このスコアはアミノ酸の置換が許容される確率を正規化して示したものです。スコアがゼロに近い場合、その置換が有害である可能性が高いと考えられます。このスコアに基づいて定性的な予測が行われます。
                    | 0.05未満のスコアを持つ置換は「有害 (Deleterious)」と分類され、それ以外のスコアは「容認 (Tolerated)」とされます。詳細は
                  a.hyper-text.-external(target='_blank', href='https://asia.ensembl.org/info/genome/variation/prediction/protein_function.html#sift') SIFT in Pathogenicity prediction of Ensembl Variation
                  | を参照ください。
                li
                  strong PolyPhen
                  br
                  div
                    .variant-function._width_5em._align-center(data-function='PROBD') &gt; 0.908
                    span._margin-left Probably Damaging
                  div
                    .variant-function._width_5em._align-center(data-function='POSSD') &gt; 0.446
                    span._margin-left Possibly Damaging
                  div
                    .variant-function._width_5em._align-center(data-function='B') &le; 0.446
                    span._margin-left Benign
                  div
                    .variant-function._width_5em._align-center(data-function='U') &nbsp;
                    span._margin-left Unknown
                  span 推定偽陽性率（FPR）が5%以下の事後確率スコアを持つバリアントは、「Probably Damaging (おそらく有害)」と予測されます。
                    | FPRが10%以下の場合は「Possible Damaging (有害の可能性あり)」とされ、FPRが10%を超えるバリアントは「良性 (Begign)」と分類されます。詳細は
                  a.hyper-text.-external(target='_blank', href='https://asia.ensembl.org/info/genome/variation/prediction/protein_function.html#polyphen') Polyphen in Pathogenicity prediction of Ensembl Variation
                  | を参照ください。
          #d8.question-answer
            h4.question バリアントデータ作成時にリフトオーバツールを利用しましたか。
            .answer
              p
                | はい。一部のGRCh38データセットは、そのGRCh37データセットをリフトオーバして作成しました。対象データセットは
                a.hyper-text.-external(target='_blank', href='https://grch38.togovar.org/doc/ja/datasets')
                  | TogoVar収録データセット一覧 (GRCh38)のLiftover GRCh37
                |を参照ください。リフトオーバツールは
                a.hyper-text.-external(target='_blank', href='https://github.com/informationsea/transanno')
                  |transanno
                | を利用しました。2023/7/14リリースまでは
                a.hyper-text.-external(target='_blank', href='https://crossmap.sourceforge.net/')
                  | CrossMap
                | を利用しました。

        section.section
          h3.sectiontitle TogoVarの検索システムに関して
          #s1.question-answer._column-span-all
            h4.question 検索結果のFrequency列に表示される頻度メーターは何を表現していますか。
            .answer
              p
                | 各データセットにおけるAlternative allele頻度を表現しています。頻度メータの色はデータセットに割り当てられた色に対応しています。データの有無や頻度の値を９段階で表現しています。
              ._flex._break-avoid
                ._padding-right-large
                  logarithmized-block-graph-frequency-view(data-dataset="" data-logarithmized-frequency="na")
                  | &nbsp; Not Available
                  br
                  logarithmized-block-graph-frequency-view(data-dataset="" data-logarithmized-frequency="monomorphic")
                  | &nbsp; Monomorphic (REF)
                  br
                  logarithmized-block-graph-frequency-view(data-dataset="" data-logarithmized-frequency="undefined" data-count="1")
                  | &nbsp; Singleton
                ._padding-right-large
                  logarithmized-block-graph-frequency-view(data-dataset="" data-logarithmized-frequency="<0.0001")
                  | &nbsp; &lt; 0.0001
                  br
                  logarithmized-block-graph-frequency-view(data-dataset="" data-logarithmized-frequency="<0.001")
                  | &nbsp; &lt; 0.001
                  br
                  logarithmized-block-graph-frequency-view(data-dataset="" data-logarithmized-frequency="<0.01")
                  | &nbsp; &lt; 0.01
                  br
                  logarithmized-block-graph-frequency-view(data-dataset="" data-logarithmized-frequency="<0.05")
                  | &nbsp; &lt; 0.05
                  br
                  logarithmized-block-graph-frequency-view(data-dataset="" data-logarithmized-frequency="<0.5")
                  | &nbsp; &lt; 0.5
                  br
                  logarithmized-block-graph-frequency-view(data-dataset="" data-logarithmized-frequency="≥0.5")
                  | &nbsp; ≥ 0.5
                ._padding-right-large
                  logarithmized-block-graph-frequency-view(data-dataset="gem_j_wga" data-logarithmized-frequency="≥0.5")
                  | &nbsp; GEM-J WGA
                  br
                  logarithmized-block-graph-frequency-view(data-dataset="jga_ngs" data-logarithmized-frequency="≥0.5")
                  | &nbsp; JGA-NGS
                  br
                  logarithmized-block-graph-frequency-view(data-dataset="jga_snp" data-logarithmized-frequency="≥0.5")
                  | &nbsp; JGA-SNP
                  br
                  logarithmized-block-graph-frequency-view(data-dataset="tommo" data-logarithmized-frequency="≥0.5")
                  | &nbsp; ToMMo 8.3KJPN
                  br
                  logarithmized-block-graph-frequency-view(data-dataset="hgvd" data-logarithmized-frequency="≥0.5")
                  | &nbsp; HGVD
                  br
                  logarithmized-block-graph-frequency-view(data-dataset="gnomad_genomes" data-logarithmized-frequency="≥0.5")
                  | &nbsp; gnomAD genomes
                  br
                  logarithmized-block-graph-frequency-view(data-dataset="gnomad_exomes" data-logarithmized-frequency="≥0.5")
                  | &nbsp; gnomAD exomes

          #s2.question-answer._column-span-all
            h4.question バリアントタイプごとにPosition、Ref、Altはそれぞれどのように記述されますか。
            .answer
              p 以下に、各バリアントタイプ毎の例を示します。染色体の最初の塩基の位置は1です。
              table.results-view
                thead
                  tr
                    th
                      p Variant Type
                    th
                      p ID
                    th
                      p Position
                    th
                      p Ref / Alt
                    th
                      p 説明
                tbody
                  tr
                    td
                      .variant-type SNV
                    td
                      a(target='_blank', href='/variant/tgv41') tgv41
                    td
                      .chromosome-position
                        .chromosome 1
                        .coordinate 13116
                    td
                      .ref-alt
                        span.ref T
                        span.arrow
                        span.alt G
                    td 1番染色体13116番目の塩基TがGに置換された
                  tr
                    td
                      .variant-type Ins
                    td
                      a(target='_blank', href='/variant/tgv1019') tgv1019
                    td
                      .chromosome-position
                        .chromosome 1
                        .coordinate 138646
                    td
                      .ref-alt
                        span.ref
                        span.arrow
                        span.alt A
                    td 1番染色体138646番目と138647番目の塩基の間に塩基Aが挿入された
                  tr
                    td
                      .variant-type Del
                    td
                      a(target='_blank', href='/variant/tgv63') tgv63
                    td
                      .chromosome-position
                        .chromosome 1
                        .coordinate 13486
                    td
                      .ref-alt
                        span.ref GC
                        span.arrow
                        span.alt
                    td 1番染色体13486番目と13487番目の塩基GCが欠失した
                  tr
                    td
                      .variant-type Indel
                    td
                      a(target='_blank', href='/variant/tgv1537710') tgv1537710
                    td
                      .chromosome-position
                        .chromosome 1
                        .coordinate 53676691
                    td
                      .ref-alt
                        span.ref C
                        span.arrow
                        span.alt TA
                    td 1番染色体53676691番目の塩基Cが欠失して、その場所にTAが挿入された
                  tr
                    td
                      .variant-type Substitution
                    td
                      a(target='_blank', href='/variant/tgv675673') tgv675673
                    td
                      .chromosome-position
                        .chromosome 1
                        .coordinate 21889705
                    td
                      .ref-alt
                        span.ref AC
                        span.arrow
                        span.alt CA
                    td 1番染色体21889705番目の塩基ACが欠失して、その場所にCAが挿入された
          #s3.question-answer._column-span-all
            h4.question TogoVarでは、どのようにバリアントを表記していますか。
            .answer
              p
                | TogoVarでは、ゲノム上の位置及びreference allele、alternative allele、ヒトゲノム標準配列のビルド番号の組み合わせでバリアントを一意に識別します。TogoVar及びdbSNP、
                a.hyper-text.-external(target='_blank', href='https://samtools.github.io/hts-specs/VCFv4.2.pdf') VCF
                | 、
                a.hyper-text.-external(target='_blank', href='http://varnomen.hgvs.org/bg-material/simple/#types-of-variants') HGVS
                | での表記例を下の表に示しています。
              table.results-view
                thead
                  tr.groupingrow
                    th(colspan='2')
                    th(colspan='4')
                      p TogoVar
                    th(colspan='4')
                      p dbSNP
                    th(colspan='4')
                      p VCF
                    th
                      p HGVS
                  tr
                    th
                    th.separator
                    th
                      p ID
                    th
                      p Position
                    th
                      p Ref / Alt
                    th.separator
                    th
                      p ID
                    th
                      p Position(GRCh37)
                    th
                      p Alleles
                    th.separator
                    th
                      p Position
                    th
                      p Ref
                    th
                      p Alt
                    th.separator
                    th
                tbody
                  tr
                    td(rowspan='2')
                      .variant-type SNV
                    td.separator(rowspan='2')
                    td
                      a(target='_blank', href='/variant/tgv30913364') tgv30913364
                    td(rowspan='2')
                      .chromosome-position
                        .chromosome 7
                        .coordinate 127254587
                    td
                      .ref-alt
                        span.ref G
                        span.arrow
                        span.alt A
                    td.separator(rowspan='2')
                    td(rowspan='2')
                      a.hyper-text.-external(target='_blank', href='https://www.ncbi.nlm.nih.gov/snp/rs114202595') rs114202595
                    td(rowspan='2') chr7:127254587
                    td G&gt;A
                    td.separator(rowspan='2')
                    td(rowspan='2') 7:127254587
                    td G
                    td A
                    td.separator(rowspan='2')
                    td 7:g.127254587:G&gt;A
                  tr
                    td
                      a(target='_blank', href='/variant/tgv30913365') tgv30913365
                    td
                      .ref-alt
                        span.ref G
                        span.arrow
                        span.alt T
                    td G&gt;T
                    td G
                    td T
                    td 7:g.127254587:G&gt;T
                  tr
                    td
                      .variant-type Ins
                    td.separator
                    td
                      a(target='_blank', href='/variant/tgv1019') tgv1019
                    td
                      .chromosome-position
                        .chromosome 1
                        .coordinate 138646
                    td
                      .ref-alt
                        span.ref
                        span.arrow
                        span.alt A
                    td.separator
                    td
                      a.hyper-text.-external(target='_blank', href='https://www.ncbi.nlm.nih.gov/snp/rs761725800') rs761725800
                    td chr1:138646
                    td dupA
                    td.separator
                    td 1:138646
                    td C
                    td CA
                    td.separator
                    td 1:g.138646_138647insA
                  tr
                    td
                      .variant-type Del
                    td.separator
                    td
                      a(target='_blank', href='/variant/tgv63') tgv63
                    td
                      .chromosome-position
                        .chromosome 1
                        .coordinate 13486
                    td
                      .ref-alt
                        span.ref GC
                        span.arrow
                        span.alt
                    td.separator
                    td
                      a.hyper-text.-external(target='_blank', href='https://www.ncbi.nlm.nih.gov/snp/rs780379327') rs780379327
                    td chr1:13486-13487
                    td delGC
                    td.separator
                    td 1:13485
                    td AGC
                    td A
                    td.separator
                    td 1:g.13486_13487del
                  tr
                    td
                      .variant-type Indel
                    td.separator
                    td
                      a(target='_blank', href='/variant/tgv1537710') tgv1537710
                    td
                      .chromosome-position
                        .chromosome 1
                        .coordinate 53676691
                    td
                      .ref-alt
                        span.ref C
                        span.arrow
                        span.alt TA
                    td.separator
                    td
                      a.hyper-text.-external(target='_blank', href='https://www.ncbi.nlm.nih.gov/snp/rs1057517525') rs1057517525
                    td chr1:53676691
                    td delCinsTA
                    td.separator
                    td 1:53676691
                    td C
                    td TA
                    td.separator
                    td 1:g.53676691delinsTA
                  tr
                    td
                      .variant-type Substitution
                    td.separator
                    td
                      a(target='_blank', href='/variant/tgv675673') tgv675673
                    td
                      .chromosome-position
                        .chromosome 1
                        .coordinate 21889705
                    td
                      .ref-alt
                        span.ref AC
                        span.arrow
                        span.alt CA
                    td.separator
                    td
                      a.hyper-text.-external(target='_blank', href='https://www.ncbi.nlm.nih.gov/snp/rs786204530') rs786204530
                    td chr1:21889705-21889706
                    td AC&gt;CA
                    td.separator
                    td 1:21889705
                    td AC
                    td CA
                    td.separator
                    td 1:g.21889705_21889706delinsCA
          #s4.question-answer._column-span-all
            h4.question
              a.hyper-text.-external(target='_blank', href='https://varnomen.hgvs.org/') Human Genome Variation Society (HGVS) 表記
              | (例：ALDH2:p.Glu504Lys) で検索できますか。
            .answer
              p
                | はい。HGVSc (例：
                a(target='_blank', href='/?term=ALDH2%3Ac.1510G%3EA') ALDH2:c.1510G&gt;A
                | )とHGVSp (例：
                a(target='_blank', href='/?term=ALDH2%3Ap.Glu504Lys') ALDH2:p.Glu504Lys
                | )で検索可能です。
                a.hyper-text.-external(target='_blank', href='https://m.ensembl.org/info/docs/tools/vep/recoder/index.html') Variant Recorder
                | でHGVS表記をGRCh37座標に変換します。
          #s5.question-answer._column-span-all
            h4.question
              a.hyper-text.-external(target='_blank', href='/?mode=advanced') Advanced search
              | でできることは何でしょうか。
            .answer
              p
                |代替アレル頻度やClinical significanceなどの検索条件をANDやORで結合したクエリーを作成できます。使い方は、
                a.link(href='#s6') Q:日本人集団とその他の集団で代替アレル頻度が異なるバリアントを検索できますか
                |をご覧ください。
          #s6.question-answer._column-span-all
            h4.question 日本人集団とその他の集団で代替アレル頻度が異なるバリアントを検索できますか。
            .answer
              p
                | はい。
                a.hyper-text.-external(target='_blank', href='/?mode=advanced') Advanced search
                | による検索が可能です。
                p
                | 代替アレル頻度の比較対象のバリアントは以下の通りです。
                ul.unordered-list
                  li 日本人集団はGEM-J WGAまたは8.3KJPNのいずれかに含まれるバリアント
                  li gnomADはgnomaAD genomesまたはexomesのいずれかに含まれるバリアント
                p
                | 日本人集団の代替アレル頻度が0.3以上、gnomAD集団は0.05以下のバリアントを検索します。
                ol.ordered-list
                  li 画面上部のAdvanced searchタブを選択します。
                    img(src=require("../../../images/help-image1.png").default alt="help-image1")
                  li Add conditionメニューからAlternative allele frequency/countを選択します。
                    p
                      img(src=require("../../../images/help-image2.png").default alt="help-image2" width="241")
                  li 以下の画面でデータセット(GEM-J WGA)と代替アレル頻度(>=0.3)を指定します。代替アレル数でも指定できます。
                    img(src=require("../../../images/help-image3.png").default alt="help-image3")
                  li OKボタンを押下します。検索条件が設定されました。
                    img(src=require("../../../images/help-image4.png").default alt="help-image4")
                  li 同様の手順でデータセットToMMo 8.3KJPN、gnomAD genomes、gnomAD exomesについても検索条件を設定します。
                    img(src=require("../../../images/help-image5.png").default alt="help-image5")
                  li 日本人集団（GEM-J WGAとToMMo 8.3KJPN)の検索条件をOR結合にします。
                    ol.ordered-list
                      li GEM-J WGAとToMMo 8.3KJPNの検索条件をクリックして選択します。選択状態では黄枠で囲まれます。
                        img(src=require("../../../images/help-image6.png").default alt="help-image6")
                      li Groupメニューを選択します。選択した２つがOR条件になります。なお、AND条件に変更する場合は、左端のORアイコンをクリックします。
                        img(src=require("../../../images/help-image7.png").default alt="help-image7")
                      li 同様にgnomAD genomesとgnomAD exomesもOR条件にします。
                        img(src=require("../../../images/help-image8.png").default alt="help-image8")
                p
                | 最終的には以下の検索条件になります。
                p
                | ((freq(GEM-J WGA) &gt;= 0.3) OR (freq(ToMMo 8.3KJPN) &gt;= 0.3))
                br
                |  AND
                br
                |  (freq(gnomAD genomes) &lt;= 0.05) OR (freq(gnomAD exomes) &lt;= 0.05))
                p
                | 検索条件が変更される度に検索が自動的に実行され、条件に合致するバリアントの一覧が更新されます。
                img(src=require("../../../images/help-image9.png").default alt="help-image9")
                p
                | メニューの機能
                ul.unordered-list
                  li Add condition: 検索条件を追加します。
                  li Group: 選択された検索条件(黄枠表示)をOR条件で結合します。ORアイコンをクリックするとAND結合に変更できます。
                  li Ungroup：結合された検索条件を分離します。Groupとは反対の操作です。
                  li Delete:選択した 検索条件を削除します。
                p
                | アイコンの機能
                ul.unordered-list
                  li
                    img(src=require("../../../images/help-pencil.png").default alt="help-pencil")
                    | ：検索条件を編集します。
                  li
                    img(src=require("../../../images/help-cross.png").default alt="help-cross")
                    | ：検索条件を削除します。
          #s7.question-answer._column-span-all
            h4.question GRCh37、GRCh38のどちらの位置でもバリアントを検索できますか。
            .answer
              p
              | はい。 リファレンス配列のバージョンはヘッダに表示されます。クリックして切り替えられます。
              img(src=require("../../../images/help-image10.png").default alt="help-image10")
