%section.result-container
  #search-alert
  %table#result.table.stripe.compact.nowrap
    %thead
      %tr
        -# Base Information
        %th
        %th ID
        %th Position
        %th Ref
        %th Alt

        -# Annotations
        %th Symbol

        -# Frequencies
        %th
          Frequency
          = fa_icon 'question-circle', id: 'freq_tooltip', class: 'gray-tooltip', 'data-toggle': 'tooltip', 'data-html': 'true', title: "#{render partial: 'layouts/freq_tooltip'}"

        %th Consequence

        -# Function
        %th
          SIFT
          = fa_icon 'question-circle', id: 'tooltip_sift', class: 'gray-tooltip', 'data-toggle': 'tooltip', 'data-html': 'true', title: "#{render partial: 'layouts/tooltip_sift'}"
        %th
          Polyphen
          = fa_icon 'question-circle', id: 'tooltip_polyphen', class: 'gray-tooltip', 'data-toggle': 'tooltip', 'data-html': 'true', title: "#{render partial: 'layouts/tooltip_polyphen'}"

        -# ClinVar
        %th
        %th ClinVar conditions
    %tbody
