%section.result-container
  #search-alert
  %table#result.table.stripe.compact.nowrap
    %thead
      %tr
        %th
        %th ID
        %th Position
        %th Ref
        %th Alt
        %th Symbol
        %th
          Frequency
          = fa_icon 'question-circle', id: 'tooltip_frequency', data: { toggle: 'tooltip', placement: 'top', html: 'true' }, title: "#{render partial: 'tooltips/frequency'}"
        %th Consequence
        %th
          SIFT
          = fa_icon 'question-circle', id: 'tooltip_sift', data: { toggle: 'tooltip', placement: 'top', html: 'true' }, title: "#{render partial: 'tooltips/sift'}"
        %th
          Polyphen
          = fa_icon 'question-circle', id: 'tooltip_polyphen', data: { toggle: 'tooltip', placement: 'top', html: 'true' }, title: "#{render partial: 'tooltips/polyphen'}"
        %th
        %th ClinVar conditions
    %tbody
