- provide(:active, root_path)

= content_for :header do
  = stylesheet_link_tag 'root/index', media: :all
  = javascript_include_tag 'root/index'
  = bioschemas

.container-fluid
  .row.flex-nowrap
    = render partial: 'layouts/sidebar'
    %main
      .main_inner
        = render partial: 'search'
        = render partial: 'result'
