= content_for :header do
  = stylesheet_link_tag 'root/index', media: :all
  = javascript_include_tag 'root/index'

.container-fluid
  .row
    = render partial: 'layouts/sidebar'
    %main.container-fluid
      = render partial: 'search'
      = render partial: 'result'
