= content_for :header do
  = stylesheet_link_tag 'root/index', media: :all

= content_for :javascript do
  = javascript_include_tag 'root/index'

= render partial: 'search'
.spacer-10
= render partial: 'result'
