block variables
  include ../includes/_globals
  - lang = locals.language ? locals.language : "en";
  - scrollDelay = 500

doctype html
html(data-page=locals.currentPage, lang=lang)
  head
    //- Google Tag Manager
    - var gtmId = typeof TOGOVAR_FRONTEND_GTM_ID !== 'undefined' ? TOGOVAR_FRONTEND_GTM_ID : null
    if gtmId
      each id in gtmId.split(',')
        script.
          (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
          })(window,document,'script','dataLayer','#{id}');
    //- End Google Tag Manager
    
    title= locals.title ? locals.title : "TogoVar"
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="icon" href="/favicon.svg" type="image/svg+xml")
    script.
      (async function() {
        try {
          if (window.location.origin === 'http://localhost:8000') return
          const response = await fetch(`${window.location.origin}/auth/status`);

          let isLogin = false;
          if (response.status === 200 || response.status === 403) {
            isLogin = true;
          }

          const loginMenu = document.querySelector('.menu-button.login a.link');
          if (isLogin === true) {
            loginMenu.href = "/auth/logout";
            loginMenu.textContent = "Logout";
          } else {
            loginMenu.href = "/auth/login";
            loginMenu.textContent = "Login";
          }

        } catch (error) {
          console.error('Error fetching auth status:', error);
        }
      })();

    block head
  body
    //- Google Tag Manager (noscript)
    - var gtmId = typeof TOGOVAR_FRONTEND_GTM_ID !== 'undefined' ? TOGOVAR_FRONTEND_GTM_ID : null
    if gtmId
      each id in gtmId.split(',')
        noscript
          iframe(src=`https://www.googletagmanager.com/ns.html?id=${id}` height="0" width="0" style="display:none;visibility:hidden")
    //- End Google Tag Manager (noscript)
    
    include ../includes/_global_header
    block content
