%nav.navbar.navbar-toggleable-md.fixed-top
  %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarCollapse", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarCollapse", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  = link_to TogoVar, root_path, { class: 'navbar-brand' }
  #navbarCollapse.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item.active
        = link_to search_path, class: 'nav-link' do
          Search
          %span.sr-only (current)
      %li.nav-item= link_to 'Datasets', doc_datasets_path, class: 'nav-link'
      %li.nav-item= link_to 'Terms', doc_terms_path, class: 'nav-link'
      %li.nav-item= link_to 'Contact', doc_contact_path, class: 'nav-link'
      %li.nav-item= link_to 'About', doc_about_path, class: 'nav-link'
      %li.nav-item= link_to 'Help', doc_help_path, class: 'nav-link'
