%header.header-stickey
  #navbar-site.navbar.navbar-expand.flex-column.flex-md-row
    = link_to TogoVar, root_path, class: 'navbar-brand mr-0 mr-md-2', data: { turbolinks: false }
    .navbar-scroll.mr-md-auto
      %ul.navbar-nav
        - active = yield(:active)
        %li.nav-item
          = nav_link 'Home', root_path, active, data: { turbolinks: false }
        %li.nav-item
          = nav_link 'Datasets', doc_datasets_path, active, data: { turbolinks: false }
        %li.nav-item
          = nav_link 'Terms', doc_terms_path, active, data: { turbolinks: false }
        %li.nav-item
          = nav_link 'Contact', doc_contact_path, active, data: { turbolinks: false }
        %li.nav-item
          = nav_link 'About', doc_about_path, active, data: { turbolinks: false }
        %li.nav-item
          = nav_link 'Help', doc_help_path, active, data: { turbolinks: false }
    - if @locale
      .navbar-locale.ml-auto.ml-md-0
        %div
          Language:
          = locale_selector

  = yield :navbar
