- active = yield(:active)

%header#GlobalHeader
  %h1.heading<>
    = link_to root_path, class: 'link' do
      = image_pack_tag('media/images/logotype.svg', alt: 'TogoVar', class: 'logotype')
    %span.summary
      A comprehensive Japanese genetic variation database

  %navigation.menus
    %ul.menu.navigation
      = nav_link 'Home', root_path, active # data: {'turbolinks': false}
      = nav_link 'Datasets', doc_datasets_path, active
      = nav_link 'Downloads', downloads_path, active
      = nav_link 'Terms', doc_terms_path, active
      = nav_link 'Contact', doc_contact_path, active
      = nav_link 'About', doc_about_path, active
      = nav_link 'History', doc_history_path, active
      = nav_link 'Help', doc_help_path, active

    - if controller.controller_name == 'root'
      %ul.menu.config
        %li.menu-button Configuration

    - if controller.controller_name == 'static'
      %ul.menu.languageswitcher
        = locale_selector :ja, data: { language: 'ja' }, title: '日本語'
        = locale_selector :en, data: { language: 'en' }, title: 'English'
