%nav.col-sm-3.col-md-2.hidden-xs-down.bg-faded.sidebar
  .nav.nav-pills.flex-column
    .card.m-2
      .card-header.p-2
        Variant Type
      .card-body.p-2
        - %w[snv insertion deletion indel substitution sequence_alteration].each do |x|
          .form-check
            %input.form-check-input{type: 'checkbox', id: "variant_type_#{x}", value: '1'}/
            %label.form-check-label{for: "variant_type_#{x}", class: "filter_icon variant_type_#{x}"}
              = filter_label_for(x)

    .card.m-2
      .card-header.p-2
        Data Set
      .card-body.p-2
        .form-check
        - %w[togovar tommo hgvd exac].each do |x|
          .form-check
            %input.form-check-input{type: 'checkbox', id: "source_#{x}", value: '1'}/
            %label.form-check-label{for: "source_#{x}", class: "filter_icon source_#{x}"}
              = filter_label_for(x)

    .card.m-2
      .card-header.p-2
        Clinical Significance
      .card-body.p-2
        .form-check
        :ruby
          significances = %w[benign likely_benign uncertain_significance likely_pathogenic pathogenic
                             conflicting_interpretations_of_pathogenicity drug_response association risk_factor
                             protective affects conflicting_data_from_submitters other not_provided]
        - significances.each do |x|
          .form-check
            %input.form-check-input{type: 'checkbox', id: "significance_#{x}", value: '1'}/
            %label.form-check-label{for: "significance_#{x}", class: "filter_icon significance_#{x}"}
              = filter_label_for(x)
