

%nav.col-sm-3.col-md-2.hidden-xs-down.bg-faded.sidebar
  .nav.nav-pills.flex-column
    .card.m-2
      .card-header.p-2
        Data set
      .card-body.p-2
        .form-check
        - %w[jga_ngs jga_snp tommo hgvd exac clinvar].each do |x|
          .form-check
            %input.form-check-input{type: 'checkbox', name: 'source', id: "source_#{x}", value: x}/
            %label.form-check-label{for: "source_#{x}", class: "source_#{x}"}
              = filter_label_for(x)
              %span{ id: "dataset_cnt_#{x}", class: 'text-muted' }

    .card.m-2
      .card-header.p-2
        Alternative allele frequency
      #freq_filter_wrapper
      .card-body.p-2
        %a#add_freq_filter{href: 'javascript:void(0)'}
          = fa_icon 'plus-circle'
          Add filter
      %input{ type: 'button', id: 'update_freq_filter', value: 'Update'}

    .card.m-2
      .card-header.p-2
        Variant Type
      .card-body.p-2
        - %w[snv insertion deletion indel substitution].each do |x|
          .form-check
            %input.form-check-input{type: 'checkbox', name: 'variant_type', id: "variant_type_#{x}", value: x}/
            %label.form-check-label{for: "variant_type_#{x}", id: "variant_type_#{x}", class: "variant_type_#{x}"}
              = filter_label_for(x)
              %span{ id: "variant_type_cnt_#{x}", class: 'text-muted' }

    .card.m-2
      .card-header.p-2
        Clinical significance
      .card-body.p-2
        .form-check
          %input.form-check-input{type: 'checkbox', name: 'significance', id: "significance_not_in_clinvar", value: 'not_in_clinvar', checked: true}/
          %label.form-check-label{for: "significance_not_in_clinvar", class: "significance_not_in_clinvar"} Not in ClinVar
        %hr
        :ruby
          significances = %w[pathogenic likely_pathogenic uncertain_significance likely_benign benign
                             conflicting_interpretations_of_pathogenicity drug_response association risk_factor
                             protective affects conflicting_data_from_submitters other not_provided]
        - significances.each do |x|
          .form-check
            %input.form-check-input{type: 'checkbox', name: 'significance', id: "significance_#{x}", value: x, checked: true}/
            %label.form-check-label{for: "significance_#{x}", class: "significance_#{x}"}
              = filter_label_for(x)
              %span{ id: "significance_cnt_#{x}", class: 'text-muted' }
