!!!
%html
  %head
    %title TogoVar
    %meta{ charset: 'utf-8' }
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application',               'data-turbolinks-track': 'reload'
    = yield :header
  %body
    = render partial: 'layouts/header'

    .container-fluid
      .row
        = render partial: 'layouts/sidebar'
        %main.col-sm-9.offset-sm-3.col-md-10.offset-md-2.pt-3
          = yield

    %footer.footer
      = render partial: 'layouts/footer'

    = yield :javascript
