!!!
%html{lang: @locale ? @locale : 'en', data: {page: yield(:page)}}
  %head
    - if Rails.env.production?
      - Rails.configuration.gtm.keys.each do |key|
        = google_tag_manager_script_tag(key)
    %title= title(yield(:title))
    %meta{charset: 'utf-8'}
    %meta{content: 'text/html; charset=UTF-8', http: {equiv: 'Content-Type'}}
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}
    = csrf_meta_tags
    = stylesheet_pack_tag 'application', media: 'all'
    = javascript_pack_tag 'application'
    = yield :head
  %body
    - if Rails.env.production?
      - Rails.configuration.gtm.keys.each do |key|
        = google_tag_manager_noscript_tag(key)
    = render partial: 'layouts/header'
    = yield
