!!!
%html{lang: @locale ? @locale : 'en', data: {page: yield(:page)}}
  %head
    %title= title(yield(:title))
    %meta{ charset: 'utf-8' }
    = csrf_meta_tags
    = stylesheet_pack_tag 'application', media: 'all'
    = yield :head
  %body
    = render partial: 'layouts/header'
    = yield
