!!!
%html
  %head
    %title= title(yield(:title))
    %meta{ charset: 'utf-8' }
    = csrf_meta_tags
    = stylesheet_pack_tag 'application', media: 'all'
    = yield :header
  %body{ data: { spy: 'scroll', target: '#navbar-stanza' } }
    = render partial: 'layouts/header'
    = yield
    = render partial: 'layouts/footer'
    = yield :javascript
